 i.material-icons , i.material-icons + span {
  vertical-align: middle;
}

header, main, footer, caminho {
  padding-left: 130px;
  padding-right: 10px;
}

header, footer {
  padding-right: 0px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

a {
  color: #1a237e;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  color: #1a237e;
}

.navbar-material .nav-wrapper .brand-logo img {
  height: 64px;
}

.breadcrumb {
  font-size: 12px;
  color: #212121;
}

.breadcrumb:before {
  color: #1a237e;
  font-size: 20px;
}

.breadcrumb:last-child {
  color: #1a237e;
  font-weight: bold;
}


/* opção 1*/
.side-nav .collapsible-header:hover,
.side-nav.fixed .collapsible-header:hover {
  border-right:5px solid #1a237e;
}


#caminho {
  height: 30px;
  line-height: 30px;
  background-color: #eeeeee;
  color: white;
  padding-left: 130px;
  padding-right: 10px;
}

@media only screen and (max-width : 992px) {
  #caminho {
    padding-left: 10px;
  }
}

.row{
  margin-top:10px;
  margin-bottom: 0px;
}
