 i.material-icons , i.material-icons + span {
  vertical-align: middle;
}

header, footer{
  padding-left: 240px;
  padding-right: 10px;
}

main{
  padding-left: 250px;
  padding-right: 10px;
}

header, footer {
  padding-right: 0px;
}

@media only screen and (max-width : 992px) {
  header, footer {
    padding-left: 0px;
  }
}

@media only screen and (max-width : 992px) {
  main{
    padding-left: 10px;
  }
}

a {
  color: #1a237e;
}

/* footer */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}



.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  color: #1a237e;
}

.navbar-material .nav-wrapper .brand-logo img {
  height: 64px;
}

/* Breadcrumbs */

.breadcrumb {
  font-size: 12px;
  color: #212121;
}

.breadcrumb:before {
  color: #1a237e;
  font-size: 20px;
}

.breadcrumb:last-child {
  color: #1a237e;
  font-weight: bold;
}

#caminho {
  height: 30px;
  line-height: 30px;
  background-color: #eeeeee;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (max-width : 992px) {
  #caminho {
    padding-left: 10px;
  }
}

.row{
  margin-top:10px;
  margin-bottom: 0px;
}

/* Navbar fixed detalhes */
.side-nav .collapsible-header:hover,
.side-nav.fixed .collapsible-header:hover {
  border-right:5px solid #1a237e;
}

/* DatePicker */

.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
  border-radius: 50%;
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
  background: #1a237e;
  color: #ffffff;
}


.picker__date-display, .picker__weekday-display{
  background-color: #1a237e;
}

.picker__close, .picker__today {
  color: #1a237e;
}

/* Tabelas */

table.highlight > tbody > tr:hover {
  border-left:5px solid #1a237e;
}

/* Data field */

/* label color */
.input-field label {
 color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #000;
}


/* input colors */

input:not([type]):disabled, input:not([type])[readonly="readonly"],
input[type=text]:disabled,
input[type=text][readonly="readonly"],
input[type=password]:disabled,
input[type=password][readonly="readonly"],
input[type=email]:disabled,
input[type=email][readonly="readonly"],
input[type=url]:disabled,
input[type=url][readonly="readonly"],
input[type=time]:disabled,
input[type=time][readonly="readonly"],
input[type=date]:disabled,
input[type=date][readonly="readonly"],
input[type=datetime]:disabled,
input[type=datetime][readonly="readonly"],
input[type=datetime-local]:disabled,
input[type=datetime-local][readonly="readonly"],
input[type=tel]:disabled,
input[type=tel][readonly="readonly"],
input[type=number]:disabled,
input[type=number][readonly="readonly"],
input[type=search]:disabled,
input[type=search][readonly="readonly"],
textarea.materialize-textarea:disabled,
textarea.materialize-textarea[readonly="readonly"] {
  color: #212121;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.26);
}

input:not([type]):disabled + label,
input:not([type])[readonly="readonly"] + label,
input[type=text]:disabled + label,
input[type=text][readonly="readonly"] + label,
input[type=password]:disabled + label,
input[type=password][readonly="readonly"] + label,
input[type=email]:disabled + label,
input[type=email][readonly="readonly"] + label,
input[type=url]:disabled + label,
input[type=url][readonly="readonly"] + label,
input[type=time]:disabled + label,
input[type=time][readonly="readonly"] + label,
input[type=date]:disabled + label,
input[type=date][readonly="readonly"] + label,
input[type=datetime]:disabled + label,
input[type=datetime][readonly="readonly"] + label,
input[type=datetime-local]:disabled + label,
input[type=datetime-local][readonly="readonly"] + label,
input[type=tel]:disabled + label,
input[type=tel][readonly="readonly"] + label,
input[type=number]:disabled + label,
input[type=number][readonly="readonly"] + label,
input[type=search]:disabled + label,
input[type=search][readonly="readonly"] + label,
textarea.materialize-textarea:disabled + label,
textarea.materialize-textarea[readonly="readonly"] + label {
  color: #212121;
}