### Requirements ###
pip install django-material
pip install reportlab
pip install django-formset-js
pip install django-localflavor



### Old Requirements ###
#npm install -g bower
#pip install django-bower
#bower install fullcalendar
#bower install moment
#bower install jquery