i.material-icons , i.material-icons + span {
	vertical-align: middle;
}

header, footer{
	padding-left: 240px;
	padding-right: 10px;
}

main{
	padding-left: 250px;
	padding-right: 10px;
}

header, footer {
	padding-right: 0px;
}

@media only screen and (max-width : 992px) {
	header, footer {
		padding-left: 0px;
	}
}

@media only screen and (max-width : 992px) {
	main{
		padding-left: 10px;
	}
}

a {
	color: #1a237e;
}

/* footer */

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}



.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
	color: #1a237e;
}

.navbar-material .nav-wrapper .brand-logo img {
	height: 64px;
}

/* Breadcrumbs */

.breadcrumb {
	font-size: 12px;
	color: #212121;
}

.breadcrumb:before {
	color: #1a237e;
	font-size: 20px;
}

.breadcrumb:last-child {
	color: #1a237e;
	font-weight: bold;
}

#caminho {
	height: 30px;
	line-height: 30px;
	background-color: #eeeeee;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
}

@media only screen and (max-width : 992px) {
	#caminho {
		padding-left: 10px;
	}
}

.row{
	margin-top:10px;
	margin-bottom: 0px;
}

/* Navbar fixed detalhes */

.side-nav.fixed {
	padding-top: 15px;
}

/* DatePicker */

.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
	border-radius: 50%;
	-webkit-transform: scale(0.75);
	transform: scale(0.75);
	background: #1a237e;
	color: #ffffff;
}


.picker__date-display, .picker__weekday-display{
	background-color: #1a237e;
}

.picker__close, .picker__today {
	color: #1a237e;
}

/* Tabelas */

table.highlight > tbody > tr:hover {
	border-left:5px solid #1a237e;
}

/* dropdown menu*/

.dropdown-content{
	min-width: 200px!important;
}

.dropdown-content li>a, .dropdown-content li>span {
	font-size: 14px!important;
	color: #212121!important;
	display: block;
	line-height: 22px;
	padding: 14px 16px;
}


/* label color */
.input-field label {
	color: #000!important;
}
/* label focus color */
.input-field input[type=text]:focus + label {
	color: #000!important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid #212121;!important;
	box-shadow: 0 1px 0 0 #212121!important;
}
/* valid color */
.input-field input[type=text].valid {
	border-bottom: 1px solid #283593!important;
	box-shadow: 0 1px 0 0 #283593!important;
}
/* invalid color */
.input-field input[type=text].invalid {
	border-bottom: 1px solid #f44336!important;
	box-shadow: 0 1px 0 0 #f44336!important;
}
/* icon prefix focus color */
.input-field .prefix.active {
	color: #212121!important;
}

/* Text Inputs + Textarea
========================================================================== */

/* Text inputs */
input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #9e9e9e;
	border-radius: 0;
	outline: none;
	height: 2rem;
	width: 100%;
	font-size: 1rem;
	margin: 0 0 15px 0;
	padding: 0;
	box-shadow: none;
	box-sizing: content-box;
	transition: all 0.3s;
}

input:not([type]):disabled, input:not([type])[readonly="readonly"],
input[type=text]:disabled,
input[type=text][readonly="readonly"],
input[type=password]:disabled,
input[type=password][readonly="readonly"],
input[type=email]:disabled,
input[type=email][readonly="readonly"],
input[type=url]:disabled,
input[type=url][readonly="readonly"],
input[type=time]:disabled,
input[type=time][readonly="readonly"],
input[type=date]:disabled,
input[type=date][readonly="readonly"],
input[type=datetime]:disabled,
input[type=datetime][readonly="readonly"],
input[type=datetime-local]:disabled,
input[type=datetime-local][readonly="readonly"],
input[type=tel]:disabled,
input[type=tel][readonly="readonly"],
input[type=number]:disabled,
input[type=number][readonly="readonly"],
input[type=search]:disabled,
input[type=search][readonly="readonly"],
textarea.materialize-textarea:disabled,
textarea.materialize-textarea[readonly="readonly"] {
	color: rgba(0, 0, 0, 0.26);
	border-bottom: 1px dotted rgba(0, 0, 0, 0.26);
}

input:not([type]):disabled + label,
input:not([type])[readonly="readonly"] + label,
input[type=text]:disabled + label,
input[type=text][readonly="readonly"] + label,
input[type=password]:disabled + label,
input[type=password][readonly="readonly"] + label,
input[type=email]:disabled + label,
input[type=email][readonly="readonly"] + label,
input[type=url]:disabled + label,
input[type=url][readonly="readonly"] + label,
input[type=time]:disabled + label,
input[type=time][readonly="readonly"] + label,
input[type=date]:disabled + label,
input[type=date][readonly="readonly"] + label,
input[type=datetime]:disabled + label,
input[type=datetime][readonly="readonly"] + label,
input[type=datetime-local]:disabled + label,
input[type=datetime-local][readonly="readonly"] + label,
input[type=tel]:disabled + label,
input[type=tel][readonly="readonly"] + label,
input[type=number]:disabled + label,
input[type=number][readonly="readonly"] + label,
input[type=search]:disabled + label,
input[type=search][readonly="readonly"] + label,
textarea.materialize-textarea:disabled + label,
textarea.materialize-textarea[readonly="readonly"] + label {
	color: rgba(0, 0, 0, 0.26);
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #1a237e;
	box-shadow: 0 1px 0 0 #1a237e;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
	color: #1a237e;
}

input:not([type]).valid, input:not([type]):focus.valid,
input[type=text].valid,
input[type=text]:focus.valid,
input[type=password].valid,
input[type=password]:focus.valid,
input[type=email].valid,
input[type=email]:focus.valid,
input[type=url].valid,
input[type=url]:focus.valid,
input[type=time].valid,
input[type=time]:focus.valid,
input[type=date].valid,
input[type=date]:focus.valid,
input[type=datetime].valid,
input[type=datetime]:focus.valid,
input[type=datetime-local].valid,
input[type=datetime-local]:focus.valid,
input[type=tel].valid,
input[type=tel]:focus.valid,
input[type=number].valid,
input[type=number]:focus.valid,
input[type=search].valid,
input[type=search]:focus.valid,
textarea.materialize-textarea.valid,
textarea.materialize-textarea:focus.valid {
	border-bottom: 1px solid #283593;
	box-shadow: 0 1px 0 0 #283593;
}

input:not([type]).valid + label:after,
input:not([type]):focus.valid + label:after,
input[type=text].valid + label:after,
input[type=text]:focus.valid + label:after,
input[type=password].valid + label:after,
input[type=password]:focus.valid + label:after,
input[type=email].valid + label:after,
input[type=email]:focus.valid + label:after,
input[type=url].valid + label:after,
input[type=url]:focus.valid + label:after,
input[type=time].valid + label:after,
input[type=time]:focus.valid + label:after,
input[type=date].valid + label:after,
input[type=date]:focus.valid + label:after,
input[type=datetime].valid + label:after,
input[type=datetime]:focus.valid + label:after,
input[type=datetime-local].valid + label:after,
input[type=datetime-local]:focus.valid + label:after,
input[type=tel].valid + label:after,
input[type=tel]:focus.valid + label:after,
input[type=number].valid + label:after,
input[type=number]:focus.valid + label:after,
input[type=search].valid + label:after,
input[type=search]:focus.valid + label:after,
textarea.materialize-textarea.valid + label:after,
textarea.materialize-textarea:focus.valid + label:after {
	content: attr(data-success);
	color: #283593;
	opacity: 1;
}

input:not([type]).invalid, input:not([type]):focus.invalid,
input[type=text].invalid,
input[type=text]:focus.invalid,
input[type=password].invalid,
input[type=password]:focus.invalid,
input[type=email].invalid,
input[type=email]:focus.invalid,
input[type=url].invalid,
input[type=url]:focus.invalid,
input[type=time].invalid,
input[type=time]:focus.invalid,
input[type=date].invalid,
input[type=date]:focus.invalid,
input[type=datetime].invalid,
input[type=datetime]:focus.invalid,
input[type=datetime-local].invalid,
input[type=datetime-local]:focus.invalid,
input[type=tel].invalid,
input[type=tel]:focus.invalid,
input[type=number].invalid,
input[type=number]:focus.invalid,
input[type=search].invalid,
input[type=search]:focus.invalid,
textarea.materialize-textarea.invalid,
textarea.materialize-textarea:focus.invalid {
	border-bottom: 1px solid #F44336;
	box-shadow: 0 1px 0 0 #F44336;
}

input:not([type]).invalid + label:after,
input:not([type]):focus.invalid + label:after,
input[type=text].invalid + label:after,
input[type=text]:focus.invalid + label:after,
input[type=password].invalid + label:after,
input[type=password]:focus.invalid + label:after,
input[type=email].invalid + label:after,
input[type=email]:focus.invalid + label:after,
input[type=url].invalid + label:after,
input[type=url]:focus.invalid + label:after,
input[type=time].invalid + label:after,
input[type=time]:focus.invalid + label:after,
input[type=date].invalid + label:after,
input[type=date]:focus.invalid + label:after,
input[type=datetime].invalid + label:after,
input[type=datetime]:focus.invalid + label:after,
input[type=datetime-local].invalid + label:after,
input[type=datetime-local]:focus.invalid + label:after,
input[type=tel].invalid + label:after,
input[type=tel]:focus.invalid + label:after,
input[type=number].invalid + label:after,
input[type=number]:focus.invalid + label:after,
input[type=search].invalid + label:after,
input[type=search]:focus.invalid + label:after,
textarea.materialize-textarea.invalid + label:after,
textarea.materialize-textarea:focus.invalid + label:after {
	content: attr(data-error);
	color: #F44336;
	opacity: 1;
}

input:not([type]).validate + label,
input[type=text].validate + label,
input[type=password].validate + label,
input[type=email].validate + label,
input[type=url].validate + label,
input[type=time].validate + label,
input[type=date].validate + label,
input[type=datetime].validate + label,
input[type=datetime-local].validate + label,
input[type=tel].validate + label,
input[type=number].validate + label,
input[type=search].validate + label,
textarea.materialize-textarea.validate + label {
	width: 100%;
	pointer-events: none;
}

.input-field {
	position: relative;
	margin-top: 1rem;
}

.input-field label {
	color: #9e9e9e;
	position: absolute;
	top: 0.8rem;
	left: 0.75rem;
	font-size: 1rem;
	cursor: text;
	transition: .2s ease-out;
}

.input-field label.active {
	font-size: 0.8rem;
	-webkit-transform: translateY(-140%);
	transform: translateY(-140%);
}

.input-field .prefix {
	position: absolute;
	width: 3rem;
	font-size: 2rem;
	transition: color .2s;
}

.input-field .prefix.active {
	color: #1a237e;
}

.input-field .prefix ~ input,
.input-field .prefix ~ textarea {
	margin-left: 3rem;
	width: 92%;
	width: calc(100% - 3rem);
}

.input-field .prefix ~ textarea {
	padding-top: .8rem;
}

.input-field .prefix ~ label {
	margin-left: 3rem;
}

@media only screen and (max-width: 992px) {
	.input-field .prefix ~ input {
		width: 86%;
		width: calc(100% - 3rem);
	}
}

@media only screen and (max-width: 600px) {
	.input-field .prefix ~ input {
		width: 80%;
		width: calc(100% - 3rem);
	}
}

/* Search Field */
.input-field input[type=search] {
	display: block;
	line-height: inherit;
	padding-left: 4rem;
	width: calc(100% - 4rem);
}

.input-field input[type=search]:focus {
	background-color: #fff;
	border: 0;
	box-shadow: none;
	color: #444;
}

.input-field input[type=search]:focus + label i,
.input-field input[type=search]:focus ~ .mdi-navigation-close,
.input-field input[type=search]:focus ~ .material-icons {
	color: #444;
}

/* Textarea */
textarea {
	height: 2rem;
}

textarea.materialize-textarea {
	overflow-y: hidden;
	/* prevents scroll bar flash */
	padding: 1.6rem 0;
	/* prevents text jump on Enter keypress */
	resize: none;
	min-height: 2rem;
}


/* Ajustes select */

.select-wrapper input.select-dropdown {
	border-bottom: 1px solid #9e9e9e;
	height: 1.5rem;
	line-height: 2rem;
	font-size: 1rem;
	margin: 0 0 10px 0;
}

.select-wrapper span.caret {
	top: 0px;
}

i.material-icons , i.material-icons + span {
	vertical-align: middle;
}

header, footer{
	padding-left: 240px;
	padding-right: 10px;
}

main{
	padding-left: 250px;
	padding-right: 10px;
}

header, footer {
	padding-right: 0px;
}

@media only screen and (max-width : 992px) {
	header, footer {
		padding-left: 0px;
	}
}

@media only screen and (max-width : 992px) {
	main{
		padding-left: 10px;
	}
}

a {
	color: #1a237e;
}

/* footer */

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}



.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
	color: #1a237e;
}

.navbar-material .nav-wrapper .brand-logo img {
	height: 64px;
}

/* Breadcrumbs */

.breadcrumb {
	font-size: 12px;
	color: #212121;
}

.breadcrumb:before {
	color: #1a237e;
	font-size: 20px;
}

.breadcrumb:last-child {
	color: #1a237e;
	font-weight: bold;
}

#caminho {
	height: 30px;
	line-height: 30px;
	background-color: #eeeeee;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
}

@media only screen and (max-width : 992px) {
	#caminho {
		padding-left: 10px;
	}
}

.row{
	margin-top:10px;
	margin-bottom: 0px;
}

/* Navbar fixed detalhes */

.side-nav.fixed {
	padding-top: 15px;
}

/* DatePicker */

.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
	border-radius: 50%;
	-webkit-transform: scale(0.75);
	transform: scale(0.75);
	background: #1a237e;
	color: #ffffff;
}


.picker__date-display, .picker__weekday-display{
	background-color: #1a237e;
}

.picker__close, .picker__today {
	color: #1a237e;
}

/* Tabelas */

table.highlight > tbody > tr:hover {
	border-left:5px solid #1a237e;
}

/* dropdown menu*/

.dropdown-content{
	min-width: 200px!important;
}

.dropdown-content li>a, .dropdown-content li>span {
	font-size: 14px!important;
	color: #212121!important;
	display: block;
	line-height: 22px;
	padding: 14px 16px;
}


/* label color */
.input-field label {
	color: #000!important;
}
/* label focus color */
.input-field input[type=text]:focus + label {
	color: #000!important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid #212121;!important;
	box-shadow: 0 1px 0 0 #212121!important;
}
/* valid color */
.input-field input[type=text].valid {
	border-bottom: 1px solid #283593!important;
	box-shadow: 0 1px 0 0 #283593!important;
}
/* invalid color */
.input-field input[type=text].invalid {
	border-bottom: 1px solid #f44336!important;
	box-shadow: 0 1px 0 0 #f44336!important;
}
/* icon prefix focus color */
.input-field .prefix.active {
	color: #212121!important;
}

/* Text Inputs + Textarea
========================================================================== */

/* Text inputs */
input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #9e9e9e;
	border-radius: 0;
	outline: none;
	height: 2rem;
	width: 100%;
	font-size: 1rem;
	margin: 0 0 15px 0;
	padding: 0;
	box-shadow: none;
	box-sizing: content-box;
	transition: all 0.3s;
}

input:not([type]):disabled, input:not([type])[readonly="readonly"],
input[type=text]:disabled,
input[type=text][readonly="readonly"],
input[type=password]:disabled,
input[type=password][readonly="readonly"],
input[type=email]:disabled,
input[type=email][readonly="readonly"],
input[type=url]:disabled,
input[type=url][readonly="readonly"],
input[type=time]:disabled,
input[type=time][readonly="readonly"],
input[type=date]:disabled,
input[type=date][readonly="readonly"],
input[type=datetime]:disabled,
input[type=datetime][readonly="readonly"],
input[type=datetime-local]:disabled,
input[type=datetime-local][readonly="readonly"],
input[type=tel]:disabled,
input[type=tel][readonly="readonly"],
input[type=number]:disabled,
input[type=number][readonly="readonly"],
input[type=search]:disabled,
input[type=search][readonly="readonly"],
textarea.materialize-textarea:disabled,
textarea.materialize-textarea[readonly="readonly"] {
	color: rgba(0, 0, 0, 0.26);
	border-bottom: 1px dotted rgba(0, 0, 0, 0.26);
}

input:not([type]):disabled + label,
input:not([type])[readonly="readonly"] + label,
input[type=text]:disabled + label,
input[type=text][readonly="readonly"] + label,
input[type=password]:disabled + label,
input[type=password][readonly="readonly"] + label,
input[type=email]:disabled + label,
input[type=email][readonly="readonly"] + label,
input[type=url]:disabled + label,
input[type=url][readonly="readonly"] + label,
input[type=time]:disabled + label,
input[type=time][readonly="readonly"] + label,
input[type=date]:disabled + label,
input[type=date][readonly="readonly"] + label,
input[type=datetime]:disabled + label,
input[type=datetime][readonly="readonly"] + label,
input[type=datetime-local]:disabled + label,
input[type=datetime-local][readonly="readonly"] + label,
input[type=tel]:disabled + label,
input[type=tel][readonly="readonly"] + label,
input[type=number]:disabled + label,
input[type=number][readonly="readonly"] + label,
input[type=search]:disabled + label,
input[type=search][readonly="readonly"] + label,
textarea.materialize-textarea:disabled + label,
textarea.materialize-textarea[readonly="readonly"] + label {
	color: rgba(0, 0, 0, 0.26);
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #1a237e;
	box-shadow: 0 1px 0 0 #1a237e;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
	color: #1a237e;
}

input:not([type]).valid, input:not([type]):focus.valid,
input[type=text].valid,
input[type=text]:focus.valid,
input[type=password].valid,
input[type=password]:focus.valid,
input[type=email].valid,
input[type=email]:focus.valid,
input[type=url].valid,
input[type=url]:focus.valid,
input[type=time].valid,
input[type=time]:focus.valid,
input[type=date].valid,
input[type=date]:focus.valid,
input[type=datetime].valid,
input[type=datetime]:focus.valid,
input[type=datetime-local].valid,
input[type=datetime-local]:focus.valid,
input[type=tel].valid,
input[type=tel]:focus.valid,
input[type=number].valid,
input[type=number]:focus.valid,
input[type=search].valid,
input[type=search]:focus.valid,
textarea.materialize-textarea.valid,
textarea.materialize-textarea:focus.valid {
	border-bottom: 1px solid #283593;
	box-shadow: 0 1px 0 0 #283593;
}

input:not([type]).valid + label:after,
input:not([type]):focus.valid + label:after,
input[type=text].valid + label:after,
input[type=text]:focus.valid + label:after,
input[type=password].valid + label:after,
input[type=password]:focus.valid + label:after,
input[type=email].valid + label:after,
input[type=email]:focus.valid + label:after,
input[type=url].valid + label:after,
input[type=url]:focus.valid + label:after,
input[type=time].valid + label:after,
input[type=time]:focus.valid + label:after,
input[type=date].valid + label:after,
input[type=date]:focus.valid + label:after,
input[type=datetime].valid + label:after,
input[type=datetime]:focus.valid + label:after,
input[type=datetime-local].valid + label:after,
input[type=datetime-local]:focus.valid + label:after,
input[type=tel].valid + label:after,
input[type=tel]:focus.valid + label:after,
input[type=number].valid + label:after,
input[type=number]:focus.valid + label:after,
input[type=search].valid + label:after,
input[type=search]:focus.valid + label:after,
textarea.materialize-textarea.valid + label:after,
textarea.materialize-textarea:focus.valid + label:after {
	content: attr(data-success);
	color: #283593;
	opacity: 1;
}

input:not([type]).invalid, input:not([type]):focus.invalid,
input[type=text].invalid,
input[type=text]:focus.invalid,
input[type=password].invalid,
input[type=password]:focus.invalid,
input[type=email].invalid,
input[type=email]:focus.invalid,
input[type=url].invalid,
input[type=url]:focus.invalid,
input[type=time].invalid,
input[type=time]:focus.invalid,
input[type=date].invalid,
input[type=date]:focus.invalid,
input[type=datetime].invalid,
input[type=datetime]:focus.invalid,
input[type=datetime-local].invalid,
input[type=datetime-local]:focus.invalid,
input[type=tel].invalid,
input[type=tel]:focus.invalid,
input[type=number].invalid,
input[type=number]:focus.invalid,
input[type=search].invalid,
input[type=search]:focus.invalid,
textarea.materialize-textarea.invalid,
textarea.materialize-textarea:focus.invalid {
	border-bottom: 1px solid #F44336;
	box-shadow: 0 1px 0 0 #F44336;
}

input:not([type]).invalid + label:after,
input:not([type]):focus.invalid + label:after,
input[type=text].invalid + label:after,
input[type=text]:focus.invalid + label:after,
input[type=password].invalid + label:after,
input[type=password]:focus.invalid + label:after,
input[type=email].invalid + label:after,
input[type=email]:focus.invalid + label:after,
input[type=url].invalid + label:after,
input[type=url]:focus.invalid + label:after,
input[type=time].invalid + label:after,
input[type=time]:focus.invalid + label:after,
input[type=date].invalid + label:after,
input[type=date]:focus.invalid + label:after,
input[type=datetime].invalid + label:after,
input[type=datetime]:focus.invalid + label:after,
input[type=datetime-local].invalid + label:after,
input[type=datetime-local]:focus.invalid + label:after,
input[type=tel].invalid + label:after,
input[type=tel]:focus.invalid + label:after,
input[type=number].invalid + label:after,
input[type=number]:focus.invalid + label:after,
input[type=search].invalid + label:after,
input[type=search]:focus.invalid + label:after,
textarea.materialize-textarea.invalid + label:after,
textarea.materialize-textarea:focus.invalid + label:after {
	content: attr(data-error);
	color: #F44336;
	opacity: 1;
}

input:not([type]).validate + label,
input[type=text].validate + label,
input[type=password].validate + label,
input[type=email].validate + label,
input[type=url].validate + label,
input[type=time].validate + label,
input[type=date].validate + label,
input[type=datetime].validate + label,
input[type=datetime-local].validate + label,
input[type=tel].validate + label,
input[type=number].validate + label,
input[type=search].validate + label,
textarea.materialize-textarea.validate + label {
	width: 100%;
	pointer-events: none;
}

.input-field {
	position: relative;
	margin-top: 1rem;
}

.input-field label {
	color: #9e9e9e;
	position: absolute;
	top: 0.8rem;
	left: 0.75rem;
	font-size: 1rem;
	cursor: text;
	transition: .2s ease-out;
}

.input-field label.active {
	font-size: 0.8rem;
	-webkit-transform: translateY(-140%);
	transform: translateY(-140%);
}

.input-field .prefix {
	position: absolute;
	width: 3rem;
	font-size: 2rem;
	transition: color .2s;
}

.input-field .prefix.active {
	color: #1a237e;
}

.input-field .prefix ~ input,
.input-field .prefix ~ textarea {
	margin-left: 3rem;
	width: 92%;
	width: calc(100% - 3rem);
}

.input-field .prefix ~ textarea {
	padding-top: .8rem;
}

.input-field .prefix ~ label {
	margin-left: 3rem;
}

@media only screen and (max-width: 992px) {
	.input-field .prefix ~ input {
		width: 86%;
		width: calc(100% - 3rem);
	}
}

@media only screen and (max-width: 600px) {
	.input-field .prefix ~ input {
		width: 80%;
		width: calc(100% - 3rem);
	}
}

/* Search Field */
.input-field input[type=search] {
	display: block;
	line-height: inherit;
	padding-left: 4rem;
	width: calc(100% - 4rem);
}

.input-field input[type=search]:focus {
	background-color: #fff;
	border: 0;
	box-shadow: none;
	color: #444;
}

.input-field input[type=search]:focus + label i,
.input-field input[type=search]:focus ~ .mdi-navigation-close,
.input-field input[type=search]:focus ~ .material-icons {
	color: #444;
}

/* Textarea */
textarea {
	height: 2rem;
}

textarea.materialize-textarea {
	overflow-y: hidden;
	/* prevents scroll bar flash */
	padding: 1.6rem 0;
	/* prevents text jump on Enter keypress */
	resize: none;
	min-height: 2rem;
}


/* Ajustes select */

.select-wrapper input.select-dropdown {
	border-bottom: 1px solid #9e9e9e;
	height: 1.5rem;
	line-height: 2rem;
	font-size: 1rem;
	margin: 0 0 10px 0;
}

.select-wrapper span.caret {
	top: 0px;
}

