{% extends "cadastro/base_visaogeral.html" %}

{% load material_form %} 

{% block breadcrumbs %}
{{ block.super }}
<a href="{% url 'animal_resumo' %}" class="breadcrumb">Animais</a>
<a href="{% url 'animal_cadastro' %}" class="breadcrumb">Cadastro</a>
{% endblock %}

{% block form_submit_action %}

<div class="card">
	<div class="card-content">	
		<form action="cadastro" method="POST"> 

			{% endblock %}

			{% block form %}

			<div class="row">
				<div class="col s12 m12 l12">
					{% csrf_token %}
					{% form form=form %}{% endform %}
				</div>
			</div>
			{% endblock %}

			{% block form_submit %}

			<div class="row">
				<div class="col s12 m12 l12 right-align">
					<div class="form-actions">
						<button class="btn waves-effect waves-light indigo darken-4" type="reset" value="Reset"><i class="material-icons right">clear</i>Limpar</button>
						<button class="btn waves-effect waves-light indigo darken-4" type="submit" name="cancel" value="Cancel"><i class="material-icons right">cancel</i>Cancelar</button>
						<button onclick="AlertSucesso()" class="btn waves-effect waves-light indigo darken-4" type="submit" value="Update">Salvar<i class="material-icons right">send</i>
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}
