{% extends "cadastro/animal_form.html" %}

{% load material_form %} 

{% block breadcrumbs %}
{{ block.super }}
<a href="{% url 'animal_detalhes' object.id %}" class="breadcrumb">Detalhes</a>
<a href="{{ request.get_absolute_url }}" class="breadcrumb">Editar</a>
{% endblock %}

{% block form_submit_action %}

<div class="card">
	<div class="card-content">		
		<form action="" method="POST"> 
			<div class="row">
				{% endblock %}

				{% block form %}
				{{ block.super }}
				{% endblock %}

				{% block form_submit %}
				
				<div class="row">
					<div class="col s12 m12 l12 right-align">
						<div class="form-actions">
							<button class="btn waves-effect waves-light indigo darken-5" type="submit" value="Update">Enviar<i class="material-icons right">edit</i></button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}