{% extends "cadastro/base_visaogeral.html" %}

{% block breadcrumbs %}
{{ block.super }}

<a href="{% url 'consulta_detalhes' object.id %}" class="breadcrumb">Detalhes</a>

{% endblock %}

{% block detalhes %}

<div class="card">
	<div class="card-content">
		<div class="row">
			<div class="card-content">
				<div class="col s2 m2 l2">
					<p><b>Data</b></p>
				</div> 
				<div class="col s4 m4 l4">
					<p>{{ object.data }}</p>
				</div> 
				<div class="col s2 m2 l2">
					<p><b>Retorno</b></p>
				</div>
				<div class="col s4 m4 l4">
					<p>{{ object.retorno }}</p>
				</div> 
			</div>
		</div>

		<div class="row">
			<div class="card-content">
				<div class="col s2 m2 l2">
					<p><b>Diagnostico</b></p>
				</div> 
				<div class="col s4 m4 l4">
					<p>{{ object.diagnostico  }}</p>
				</div> 
			</div>
		</div>



		<div class="conta">
			<div class="row">
				<div class="card-content">
					<div class="col s2 m2 l2">
						<p><b>Veterinario</b></p>
					</div> 
					<div class="col s4 m4 l4">
						<p>{{ object.veterinario.nome }}</p>
					</div> 
					</div> 
				</div>
			</div>
		</div>

		<div class="row">
			<div class="card-content">
				<div class="col s2 m2 l2">
					<p><b>Nome do pet</b></p>
				</div> 
				<div class="col s4 m4 l4">
					<p>{{ object.animal.nome }}</p>
				</div> 
				<div class="col s2 m2 l2">
					<p><b>RG do pet</b></p>
				</div> 
				<div class="col s4 m4 l4">
					<p>{{ object.animal.rg }}</p>
				</div> 
				
			</div>
		</div>

		<div class="row">
			<div class="col s12 m12 l12">
				<div class="card-content right">
					<a href="{% url 'consulta_deletar' object.id %}" class="waves-effect waves-light indigo darken-4 btn"><i class="material-icons left">delete</i>Deletar</a>
					<a href="{% url 'consulta_editar' object.id %}" class="waves-effect waves-light indigo darken-4 btn"><i class="material-icons left">edit</i>Editar</a>
				</div>	
			</div>
		</div>
	</div>
</div>


{% endblock %}


