{% extends "cadastro/base_visaogeral.html" %}

{% block breadcrumbs %}
{{ block.super }}
<a href="{% url 'consulta_resumo' %}" class="breadcrumb">Consultas Agendadas</a>
{% endblock %}


{% block content %}

<div class="row">
	<div class="card">
		<div class="card-content">

			{% block estatisticas %}
			{% endblock %}

			{% block pesquisa %}

			<div class="row">
				<div class="nav-wrapper">
					<!-- A tag action leva a url do search. pode ser colocada uma tag pra view passar o action, tornando o form reusável-->
					<form id="searchform" action="{% url 'consulta_busca_list_view' %}" method="GET" accept-charset="utf-8"> 

						<div class="input-field col s12 m8 l9">
							<input type="search" name="q" required>
							<label for="search"><i class="material-icons">search</i></label>
							<i class="material-icons">close</i>
						</div>
					</form>

					<div class="input-field col s12 m4 l3 right-align">
						<a href="{% url 'consulta_cadastro' %}" class="btn waves-effect waves-light indigo darken-4 "><i class="material-icons left">add</i>Adicionar</a>
					</div>

				</div>
			</div>

			{% endblock %}

			{% block lista %}

			<div class="row">
				<div class="col s12 m12 l12">
					<span class="card-title">Consultas Agendadas</span>
					<div class="divider"></div>
					<div class="row">
						<div class="col s12 m12">

							{% if object_list %}

							<table class="responsive-table highlight striped">
								<thead>
									<th data-field="">Veterinário</th>
									<th data-field="">Animal</th>
									<th data-field="">Tutor</th>
									<th data-field="">Data</th>

									<!--	<th data-field="">Detalhes</th> -->
								</tr>
							</thead>

							<tbody>

								{% for object in object_list %}
								<tr>
									<td>{{ object.veterinario.nome }}</td>
									<td><a href="{% url 'animal_detalhes' object.pk %}">{{ object.animal.nome }}</a></td>
									<td><a href="#">{{ object.cliente }}</a></td>
									<td>{{ object.data|date:"d/m/Y" }}</a></td>
								</tr>

								{% endfor %}

							</tbody>
						</table>
						
						{% else %}
						
						<p>Nenhuma <b>consulta</b> encontrada</p>
						{% endif %}
						
					</div>
				</div>
			</div>

			{% endblock %}

		</div>
	</div>
</div>

{% endblock %}

