{% extends "cadastro/base_visaogeral.html" %}

{% block breadcrumbs %}
{{ block.super }}
<a href="{% url 'laboratorio_resumo' %}" class="breadcrumb">Laboratórios Cadastrados</a>
<a href="" class="breadcrumb">{{ object.laboratorio }}</a>
<a href="" class="breadcrumb">{{ object.pk }}</a>

{% endblock %}

{% block detalhes %}


<div class="card">
	<div class="card-content">
		<span class='card-title'>Detalhes de exame</span>
		<div class='divider'></div>
		
		<div class="card-content">

			<div class="row">

				<span class='card-title'>Dados do Exame</span>
				
				<div class="section">
					<div class="col s2 m2 l2">
						<p><b>Data</b></p>
					</div> 
					<div class="col s4 m4 l4">
						<p>{{ object.data }}</p>
					</div> 
				</div>
			</div>

			<div class="row">
				<div class="section">
					<div class="col s2 m2 l2">
						<p><b>Diagnostico</b></p>
					</div> 
					<div class="col s4 m4 l4">
						<p>{{ object.diagnostico  }}</p>
					</div> 
				</div>
			</div>


			<div class="row">
				<div class="section">
					<div class="col s2 m2 l2">
						<p><b>Veterinario</b></p>
					</div> 
					<div class="col s4 m4 l4">
						<p>{{ object.veterinario.nome }}</p>
					</div> 
					<div class="col s2 m2 l2">
						<p><b>CRMV</b></p>
					</div> 
					<div class="col s4 m4 l4">
						<p>{{ object.veterinario.crmv }}</p>
					</div> 
				</div> 
			</div>


			<div class="row">
				<div class="section">
					<div class="col s2 m2 l2">
						<p><b>Tecnico</b></p>
					</div> 
					<div class="col s4 m4 l4">
						<p>{{ object.tecnico.nome }}</p>
					</div> 
					<div class="col s2 m2 l2">
						<p><b>CRF</b></p>
					</div> 
					<div class="col s4 m4 l4">
						<p>{{ object.tecnico.crf }}</p>
					</div> 
				</div> 

				<span class='card-title'>Dados do Animal</span>

				<div class="row">
					<div class="section">
						<div class="col s2 m2 l2">
							<p><b>Animal</b></p>
						</div> 
						<div class="col s4 m4 l4">
							<p><a href="{% url 'tutor_detalhes' object.animal.pk %}">{{ object.animal.nome }}</a></p>
						</div> 
						<div class="col s2 m2 l2">
							<p><b>RG</b></p>
						</div> 
						<div class="col s4 m4 l4">
							<p>{{ object.animal.rg }}</a></p>
						</div> 

					</div>
				</div>

				<div class="row">
					<div class="section">
						<div class="col s2 m2 l2">
							<p><b>Tutor</b></p>
						</div> 
						<div class="col s4 m4 l4">
							<p><a href="{% url 'tutor_detalhes' object.animal.tutor.pk %}">{{ object.animal.tutor }}</a></p>
						</div> 
					</div>
				</div>

				<div class="row">
					<div class="col s12 m12 l12">
						<div class="card-content right">
							<button class="btn waves-effect waves-light indigo darken-4" onClick="javascript:history.go(-1);"><i class="material-icons right">arrow_back</i>Voltar</button>
							<a class="waves-effect waves-light indigo darken-4 btn" href="{% url 'exame_deletar' object.id %}" ><i class="material-icons left">delete</i>Deletar</a>
							<a class="waves-effect waves-light indigo darken-4 btn" href="{% url 'exame_editar' object.id %}" ><i class="material-icons left">edit</i>Editar</a>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



{% endblock %}

