{% extends "cadastro/base_visaogeral.html" %}

{% load material_form %} 

{% block breadcrumbs %}
{{ block.super }}
<a href="{% url 'laboratorio_resumo' %}" class="breadcrumb">Laboratórios Cadastrados</a>
<a href="" class="breadcrumb">{{ object.laboratorio }}</a>
<a href="" class="breadcrumb">{{ object.pk }}</a>

{% endblock %}

{% block detalhes %}
{% include "cadastro/modal.html" %}

<div class="row">
	<div class="col s12 m12 l12 ">
		<div class="card">
			<div class="card-content">
				<span class='card-title'>Detalhes de exame</span>
				<div class='divider'></div>

				<div class="card-content">

					<div class="row">

						{% csrf_token %}
						{% form form=form %}{% endform %}

					</div>

					<div class="section">
						<div class="row">
							<div class="section">
								<div class="col s12 m12 l12">
									<p><a href="{% url 'tutor_detalhes' object.animal.tutor.pk %}"> Mais Informações de {{ object.animal.tutor.nome }} </a></p>
								</div>
							</div>
							<div class="section">
								<div class="col s12 m12 l12">
									<p><a href="{% url 'animal_detalhes' object.animal.tutor.id %}"> Mais Informações de {{ object.animal.nome }} </a></p>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col s12 m12 l12">
							<div class="card-content right">
								<button class="btn waves-effect waves-light indigo darken-4" onClick="javascript:history.go(-1);"><i class="material-icons right">arrow_back</i>Voltar</button>
								{% if perms.global_permissions.permission_agendar %}
								<a href="{% url 'exame_deletar' object.id %}" class="waves-effect waves-light indigo darken-4 btn"><i class="material-icons left">delete</i>Excluir</a>
								{% endif %}
								<a href="{% url 'exame_editar' object.id %}" class="waves-effect waves-light indigo darken-4 btn"><i class="material-icons left">edit</i>Editar</a>
							</div>	
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</dir>

{% endblock %}
