<div class="row">
	<div class="col s12 m12 l12">
		<span class="card-title">Exames Agendados - Laboratório {{ object.nome }}</span>
		<div class="divider"></div>
		<div class="row">
			<div class="col s12 m12">

				{% if object.exames.all %}

				<table class="reponsive-table highlight striped">
					<thead>
						<tr>
							<th data-field="">Data</th>
							<th data-field="">Animal/Número da Amostra</th>
							<th data-field="">Tutor/Dono da Amostra</th>
							<th data-field="">Técnico</th>
							<th data-field="">Veterinário</th>
							<!--	<th data-field="">Detalhes</th> -->
						</tr>
					</thead>

					<tbody>

						{% for object in object.exames.all %}
						<tr>
							<td><a href="{% url 'exame_detalhes' object.pk %}"><b>{{ object.data|date:"d/m/Y" }}</b></a></td>
							<td><a href="{% url 'animal_detalhes' object.animal.pk %}">{{ object.animal }}</a></td>
							<td><a href="{% url 'tutor_detalhes' object.animal.tutor.pk %}">{{ object.animal.tutor }}</a></td>
							<td>{{ object.tecnico }}</td>
							<td>{{ object.veterinario }}</td>

							<td class="hide-on-small-only"><a href="{% url 'exame_editar' object.pk %}"><b>Editar</b></a></td>
							<td class="hide-on-small-only"><a href="{% url 'exame_deletar' object.pk %}"><b>Excluir</b></a></td>
							
							<td class="hide-on-med-and-up"><a class="btn-floating waves-effect waves-light indigo darken-4" href="{% url 'exame_editar' object.pk %}"><i class="material-icons">mode_edit</i></a></td>
							<td class="hide-on-med-and-up"><a class="btn-floating waves-effect waves-light indigo darken-4" href="{% url 'exame_deletar' object.pk %}"><i class="material-icons">delete</i></a></td>
						</tr>

						{% endfor %}

					</tbody>
				</table>

				{% block paginacao %}

				{% include "cadastro/paginacao.html" %}

				{% endblock %}

				{% else %}

				<p>Nenhum <i>exame</i> encontrado</p>

				{% endif %}

			</div>
		</div>
	</div>
</div>