{% if object_list %}

{% for object in object_list %}

<div class="row">
	<div class="col s12 m12 l6">
		<a href="{% url 'laboratorio_detalhes' object.pk %}"><div class="card">
			<div class="card-content">
				<div class="row">
					<div class="col s6 m6 l6">
						<span class="card-title">{{ object.nome }}</span>
					</div>
					<div class="col s6 m6 l6 right-align">
						<span class="card-title"><i class="material-icons">event</i></span>
					</div>
					
				</div>
			</div>
		</a>
	</div>
</div>


{% endfor %}
</div>
{% else %}

<p>Nenhum <i>Laboratório</i> encontrado.</p>
<p>Entre em contato com um admnistrador.</p>

{% endif %}