{% extends "cadastro/base_visaogeral.html" %}

{% block breadcrumbs %}
{{ block.super }}
<a href="{% url 'laboratorio_resumo' %}" class="breadcrumb">Laboratórios Cadastrados</a>
{% endblock %}


{% block content %}

<div class="row">

			{% block estatisticas %}
			{% endblock %}

			{% if object_list %}
			
			{% for object in object_list %}
			<div class="row">
				<div class="col s12 m12 l6">
					<div class="card">
						<div class="card-content">

							<span class="card-title"><a href="{% url 'laboratorio_detalhes' object.pk %}">{{ object.nome }}</a></span>
							
						</div>
						<div class="card-action" align="right">
							<a href="calendario.html"><i class="material-icons">event</i></a>
						</div>
					</div>
				</div>

				{% endfor %}

				{% else %}

				<p>Nenhum <b>Laboratório</b> encontrado</p>
				{% endif %}
				
				{% block lista %}

				{% endblock %}

	</div>


	{% endblock %}
