{% extends "base.html" %} 

{% block content %}


		<!-- lista-->

		<div class="row">
			<div class="col s12 m12 l12">
				<span class="card-title">Clientes Cadastrados</span>
				<div class="divider"></div>
				<div class="row">
					<div class="col s12 m12">
						<table class="reponsive-table centered highlight striped">
							<thead>
								<th data-field="">Nome</th>
								<th data-field="">CPF</th>
								<th data-field="">Email</th>

								<!--	<th data-field="">Detalhes</th> -->
							</tr>
						</thead>

						<tbody>

							{% for tutor in tutores %}
							<tr>
								<td><b>{{ tutor.nome }}</b></td>
								<td>{{ tutor.cpf }}</td>
								<td>{{ tutor.email }}</td>
							</tr>

							{% endfor %}
							
						</tbody>
					</table>
				</div>
			</div>
		</div>
		



{% endblock %}