{% extends "cadastro/base_visaogeral.html" %}

{% load material_form %} 

{% block breadcrumbs %}
{{ block.super }}
<a href="{% url 'tutor_resumo' %}" class="breadcrumb">Clientes Cadastrados</a>
{% endblock %}


{% block content %}

<div class="row">
	<div class="card">
		<div class="card-content">

			{% block estatisticas %}
			{% endblock %}

			{% block pesquisa %}

			<div class="row">
				<div class="nav-wrapper">
					<!-- A tag action leva a url do search. pode ser colocada uma tag pra view passar o action, tornando o form reusável-->
					<form id="searchform" action="{% url 'tutor_busca_list_view' %}" method="GET" accept-charset="utf-8"> 

						<div class="input-field col s12 m6 l6">
							<input type="search" name="q" required>
							<label for="search"><i class="material-icons">search</i></label>
							<i class="material-icons">close</i>
						</div>
					</form>

					<!-- Modal Trigger -->
					<div class="input-field col s12 m6 l6 right-align">
						<a class="btn waves-effect waves-light indigo darken-4 modal-trigger" href="#buscaavancada"><i class="material-icons left">search</i>Avancada</a>

						<!-- Modal Structure -->
						<div id="buscaavancada" class="modal">
							<div class="modal-content">
								<form action="busca/avancada" method="POST"> 

									<h4>Busca Avançada</h4>

									{% csrf_token %}
									{% form form=form %}{% endform %}

								</div>
								<div class="modal-footer">
									<button class="btn modal-action modal-close waves-effect waves-light indigo darken-4" type="Submit" value="Update">Buscar<i class="material-icons right">search</i>
									</button>

								</form>
							</div>
						</div>
						<a href="{% url 'tutor_cadastro' %}" class="btn waves-effect waves-light indigo darken-4 "><i class="material-icons left">add</i>Adicionar</a>
					</div>

				</div>
			</div>

			{% endblock %}

			{% block lista %}

			<div class="row">
				<div class="col s12 m12 l12">
					<span class="card-title">Clientes Cadastrados</span>
					<div class="divider"></div>
					<div class="row">
						<div class="col s12 m12">

							{% if object_list %}

							<table class="reponsive-table highlight striped">
								<thead>
									<th data-field="">Id</th>
									<th data-field="">Nome</th>
									<th data-field="">Email</th>
									<th data-field="">Telefone</th>
								</tr>
							</thead>

							<tbody>
								{% for object in object_list %}
								<tr>
									<td>{{ object.pk }}</td>
									<td><b><a href="{% url 'tutor_detalhes' object.pk %}">{{ object.nome }}</a></b></td>
									<td>{{ object.email }}</td>
									<td>{{ object.telefone1 }}</td>
									<td><a href="{% url 'tutor_editar' object.pk %}"><b>Editar</b></a></td>
									<td><a href="{% url 'tutor_deletar' object.pk %}"><b>Excluir</b></a></td>
								</tr>

								{% endfor %}

							</tbody>
						</table>

						{% block paginacao %}

						{% if is_paginated %}

						<div class="row center">
							<div class="col s12 m12 l12">
								<ul class="pagination">

									{% if page_obj.has_previous %}
									<li class="disabled"><a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
									{% else %}
									<li class="disabled"><a href=""><i class="material-icons">chevron_left</i></a></li>
									{% endif %}


									{% for page in page_obj.paginator.page_range %}
									<li class="{% if page_obj.number == page %}active indigo darken-4{% else %}waves-effect white{% endif %}""><a href="?page={{ page }}">{{ page }}</a></li>
									{% endfor %}

									{% if page_obj.has_next %}
									<li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
									{% else %}
									<li class="waves-effect"><a href=""><i class="material-icons">chevron_right</i></a></li>
									{% endif %}

								</ul>
							</div>	
						</div>

						{% endif %}

						{% endblock %}
						
						{% else %}
						
						<p>Nenhum  cliente encontrado</p>
						


						{% endif %}

						
						
					</div>
				</div>
			</div>

			{% endblock %}

		</div>
	</div>
</div>

{% endblock %}

