{% extends "main.html" %} 

{% block content %}

<!-- breadcomb -->

<div class="nav-wrapper white black-text ">
	<div class="col s12">
		<a href="main.html" class="breadcrumb">Principal</a>
		<a href="consultas.html" class="breadcrumb">Consulta</a>
		<a href="buscaconsulta.html" class="breadcrumb">Busca consuta</a>

	</div>
</div>

<!-- informativos -->
<div class="col s12 m12 l12">
	<div class="row">
		<div class="nav-wrapper">
			<form>
				<div class="input-field col s12 m12 l9 left-align">
					<input id="search" type="search" required>
					<label for="search"><i class="material-icons">search</i></label>
					<i class="material-icons">close</i>
				</div>
				<div class="input-field col s12 m12 l9 left-align">
					<a href="cadastroconsulta.html" class="waves-effect waves-light indigo darken-4 btn"><i class="material-icons left">add</i>Adicionar</a>
				</div>
			</form>
		</div>
	</div>
</div>
<a href="buscaconsulta.html" class="waves-effect waves-light indigo accent-1 btn"><i class="material-icons left">search</i>Buscar</a>
<div class="card ">
	<div class="card-content">
		<span class="card-title">Resultado da pesquisas</span>
		<table class="striped">
			<thead>
				<tr>
					<th data-field="name">Veterinário</th>
					<th data-field="name">Paciente</th>
					<th data-field="date">Data</th>
					<th data-field="time">Horário</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>João</td>
					<td>Peteca</td>
					<td>25-03-2016</td>
					<td>14:00</td>
				</tr>
			</tbody>
		</table>
	</div>
	{% endblock %}