{% extends "main.html" %} 

{% block content %}


<!-- breadcrumb -->

<div class="card">
	<div class="card-content">
		<div id='calendar'>

		</div>
	</div>
</div>


<script type="text/javascript">
	
	$(document).ready(function() {
		
		$('#calendar').fullCalendar({
			theme: true,
			editable: false,
			handleWindowResize: true,
			weekends: false, 
			defaultView: 'agendaWeek',
			lang: 'pt-br',
			timeFormat: 'H(:mm)',
			minTime: '07:00:00', 
			maxTime: '22:00:00',
			header: false,
		})

	});


</script>

{% endblock %}