{% extends "base.html" %}

{% block content %}

<div class="card">
	<div class="card-content">
		<div class="row">
			<form action="#" class="col s12 m12 l12">
				
				<span class="card-title">Informações pessoais</span>
				<div class="divider"></div>
				
				<div class="row">
					<div class="col s12 m4 l4">
						<div class="input-field">
							<input disabled placeholder="Insira o nome" id="nome" type="text" class="active" value="Simone">
							<label for="nome">Nome</label>
						</div>				
					</div>

					<div class="col s12 m4 l4">
						<div class="input-field">
							<input disabled placeholder="Insira o sobrenome" id="first_name" type="text" class="validate active" value="Dornelas">
							<label for="sobrenome">Sobrenome</label>
						</div>				
					</div>

					<div class="col s12 m4 l4">
						<div class="input-field">
							<input disabled type="date" id="datanascimento" class="datepicker" value="01/01/1988">
							<label for="datanascimento">Data de Nascimento</label>
						</div>
					</div>

				</div>


				<div class="row">
					<div class="col s12 m4 l4">
						<div class="input-field">
							<input disabled type="text" id="cpf" value="999.999.999-00">
							<label for="cpf">CPF</label>
						</div>				
					</div>



					<div class="col s12 m4 l4">
						<div class="input-field">
							<input disabled type="text" id="identidade" value="99.999.999">
							<label for="identidade">Identidade</label>
						</div>				
					</div>

					<div class="col s12 m4 l4">
						<select disabled value="feminino">
							<option value="" disabled selected>Sexo</option>
							<option value="1">Option 1</option>
							<option value="2">Option 2</option>
							<option value="3">Option 3</option>
						</select>
					</div>
				</div>
				<span class="card-title">Endereço</span>
				<div class="divider"></div>

				<div class="row">
					<div class="col s12 m4 l4">
						<div class="input-field">
							<input disabled  type="text" id="rua" value="Rua Principal">
							<label for="rua">Rua</label>
						</div>				
					</div>

					<div class="col s12 m4 l4">
						<div class="input-field">
							<input disabled type="text" id="numcasa" value="99">
							<label for="numcasa">Numero</label>
						</div>				
					</div>

					<div class="col s12 m3 l3">
						<div class="input-field">
							<input disabled type="text" id="bairro" value="centro">
							<label for="bairro">Bairro</label>
						</div>				
					</div>

				</div>

				<div class="row">
					<div class="col s6 m3 l3">
						<select disabled>
							<option value="Alegre" disabled selected>Cidade</option>
							<option value="1">Option 1</option>
							<option value="2">Option 2</option>
							<option value="3">Option 3</option>
						</select>
					</div>

					<div class="col s6 m2 l2">
						<select disabled>
							<option value="ES" disabled selected>UF</option>
							<option value="1">Option 1</option>
							<option value="2">Option 2</option>
							<option value="3">Option 3</option>
						</select>
					</div>

					<div class="col s12 m3 l3">
						<div class="input-field">
							<input disabled type="text" id="cep" value="29500-000">
							<label for="cep">CEP</label>
						</div>				
					</div>

					<div class="col s12 m3 l3">
						<div class="input-field">
							<input disabled type="text" id="preferencia">
							<label for="preferencia">Ponto de Referencia</label>
						</div>				
					</div>
				</div>
				<span class="card-title">Contato</span>
				<div class="divider"></div>

				<div class="row">
					<div class="col s12 m3 l3">
						<div class="input-field">
							<input disabled type="text" id="telefone">
							<label for="telefone">Telefone</label>
						</div>				
					</div>

					<div class="col s12 m3 l3">
						<div class="input-field">
							<input disabled type="text" id="telefone" value="(28)9999-9999">
							<label for="telefone">Telefone</label>
						</div>				
					</div>

					<div class="col s12 m6 l6">
						<div class="input-field">
							<input type="text" id="email">
							<label for="email">Email</label>
						</div>				
					</div>

				</div>
				
				<div class="row">
					<div class="input-field col s12 m12 l12 right-align">

						<div class="row">
							<div class="col s4 m4 l4">

								<a class="waves-effect waves-light indigo darken-4 btn modal-trigger" href="#modal1">Excluir<i class="material-icons right">delete</i></a>							

							</div>
							<div class="col s4 m4 l4">	
								<button class="waves-effect waves-light indigo darken-4 btn" type="submit" name="action">Editar<i class="material-icons right">mode_edit</i></button>
							</div>
							<div class="col s4 m4 l4">	
								<button class="waves-effect waves-light indigo darken-4 btn" type="submit" name="action">Enviar<i class="material-icons right">send</i></button>
							</div>
						</div>
					</div>
				</div>	
			</form>
		</div>
	</div>
</div>

<!-- Modal Trigger -->


<!-- Modal Structure -->
<div id="modal1" class="modal">
	<div class="modal-content">
		<h4>Exclusão de Cliente</h4>
		<p>Deseja excluir o cliente? Essa operação não poderá ser desfeita.</p>
	</div>
	<div class="modal-footer">
		<button class="waves-effect waves-light indigo darken-4 btn" type="submit" name="action">Enviar<i class="material-icons right">send</i></button>
	</div>
</div>




{% endblock %}


