{% extends "main.html" %} 

{% block content %}


<!-- breadcrumb -->

<!--
<nav class="white">
	<div class="nav-wrapper">
		<div class="col s12">
			<a href="main.html" class="breadcrumb">Principal</a>
			<a href="cliente.html" class="breadcrumb">Cliente</a>
		</div>
	</div>
</nav>

-->

<!-- informativos -->

<div class="row">

	<div class="col s12 m12 l4">
		<div class='card-panel'>
			<a href=""><i class="material-icons">check</i><b> 18 </b>clientes atendidos </a>
			<a href=""><i class="material-icons right">more_vert</i></a>
		</div>
	</div>

	<div class="col s12 m12 l4">
		<div class='card-panel'>
			<a href=""><i class="material-icons">trending_up</i><b> 12 </b>clientes novos </a>
			<a href=""><i class="material-icons right">more_vert</i></a>
		</div>
	</div>


	<div class="col s12 m12 l4">
		<div class='card-panel'>
			<a href=""><i class="material-icons">arrow_downward</i><b> 234 </b>clientes cadastrados</a>
			<a href=""><i class="material-icons right">more_vert</i></a>
		</div>
	</div>
</div>

</div>

<!-- Busca-->


<div class="card">
	<div class="card-content">
		<div class="row">
			<div class="nav-wrapper">
				<form>
					<div class="input-field col s12 m12 l6">
						<input id="search" type="search" required>
						<label for="search"><i class="material-icons">search</i></label>
						<i class="material-icons">close</i>
					</div>

					<div class="input-field col s16 m16 l3 right-align">
						<a href="buscacliente.html"><i class="material-icons">search</i>Buscar</a>
					</div>

					<div class="input-field col s16 m16 l3 right-align">
						<a href="cadastrocliente.html" class="waves-effect waves-light indigo darken-4 btn"><i class="material-icons left">add</i>Adicionar</a>
					</div>
				</form>
			</div>
		</div>

<!-- lista-->

		<div class="row">
			<div class="col s12 m12 l12">
				<span class="card-title">Clientes Cadastrados</span>
				<div class="divider"></div>
				<div class="row">
					<div class="col s12">
						<table class="striped responsive-table">
							<thead>
								<tr>
									<th data-field="">Nome</th>
									<th data-field="">CPF</th>
									<th data-field="">Telefone</th>
									<th data-field="">Excluir</th>
									<th data-field="">Alterar</th>

								</tr>
							</thead>

							<tbody>
								<tr>
									<td><b><a href="">Simone</a></b></td>
									<td>000.000.000-00</td>
									<td>(28)9999-9999</td>
									<td><a><i class="material-icons">delete</i></a></td>
									<td><a><i class="material-icons">mode_edit</i></a></td>
								</tr>
								<tr>
									<td><b><a href="">Jacson</a></b>
										<td>000.000.000-00</td>
										<td>(28)9999-9999</td>
										<td><a><i class="material-icons">delete</i></a></td>
										<td><a><i class="material-icons">mode_edit</i></a></td>
									</tr>
									<tr>
										<td><b><a href="">Clayton</a></b>
											<td>000.000.000-00</td>
											<td>(28)9999-9999</td>
											<td><a><i class="material-icons">delete</i></a></td>
											<td><a><i class="material-icons">mode_edit</i></a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<!-- Paginação -->

				<div class="row">
					<div class="col s12 m12 l12 center">
						<div class="row">
							<ul class="pagination">
								<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
								<li class="waves-effect"><a href="#!">1</a></li>
								<li class="waves-effect"><a href="#!">2</a></li>
								<li class="waves-effect"><a href="#!">3</a></li>
								<li class="waves-effect"><a href="#!">4</a></li>
								<li class="waves-effect"><a href="#!">5</a></li>
								<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
							</ul>
						</div>
						<div class="row">
						</div>
					</div>
				</div>
			</div>
		</div>

		{% endblock %}