{% extends "base.html" %} 

{% block content %}

<!-- informativos -->

<div class="row">

	<div class="col s12 m12 l4">
		<div class='card-panel'>
			<a href=""><i class="material-icons">check</i><b> 18 </b>consultas pendentes</a>
			<a href=""><i class="material-icons right">more_vert</i></a>
		</div>
	</div>

	<div class="col s12 m12 l4">
		<div class='card-panel'>
			<a href=""><i class="material-icons">trending_up</i><b> 12 </b>consultas em andamento</a>
			<a href=""><i class="material-icons right">more_vert</i></a>
		</div>
	</div>


	<div class="col s12 m12 l4">
		<div class='card-panel'>
			<a href=""><i class="material-icons">arrow_downward</i><b> 234 </b>consultas concluidas</a>
			<a href=""><i class="material-icons right">more_vert</i></a>
		</div>
	</div>
</div>

</div>

<!-- Busca-->

<div class="card">
	<div class="card-content">
		<div class="row">
			<div class="nav-wrapper">
				<form>
					<div class="input-field col s12 m12 l6">
						<input id="search" type="search" required>
						<label for="search"><i class="material-icons">search</i></label>
						<i class="material-icons">close</i>
					</div>

					<div class="input-field col s16 m16 l3 right-align">
						<a href="consultabusca.html"><i class="material-icons">search</i>Buscar</a>
					</div>

					<div class="input-field col s16 m16 l3 right-align">
						<a href="consultacadastro.html" class="waves-effect waves-light indigo darken-4 btn"><i class="material-icons left">add</i>Adicionar</a>
					</div>
				</form>
			</div>
		</div>

		<!-- lista-->

		<!-- LABORATORIOS -->

		<div class="row">

			<div class="col s12 m6 l6">
				<div class="card">
					<div class="card-content">
						<span class="card-title">Próximas Consultas</span>
						<table class="reponsive-table centered highlight striped">
							<thead>
								<tr>
									<th data-field="name">Veterinário</th>
									<th data-field="name">Paciente</th>
									<th data-field="date">Data</th>
									<th data-field="time">Horário</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td>João</td>
									<td>Peteca</td>
									<td>25-03-2016</td>
									<td>14:00</td>
								</tr>
								<tr>
									<td>João</td>
									<td>Orlando</td>
									<td>25-03-2016</td>
									<td>14:20</td>
								</tr>
								<tr>
									<td>Luana</td>
									<td>Thor</td>
									<td>25-03-2016</td>
									<td>14:00</td>
								</tr>
							</tbody>
						</table>
						<div class="card-action" align="right">
							<a href="calendario.html"><i class="material-icons">event</i></a>
						</div>
					</div>
				</div>
			</div>


			<div class="col s12 m6 l6">
				<div class="card">
					<div class="card-content">
						<span class="card-title">Próximas Consultas</span>
						<table class="reponsive-table centered highlight striped">
							<thead>
								<tr>
									<th data-field="name">Veterinário</th>
									<th data-field="name">Paciente</th>
									<th data-field="date">Data</th>
									<th data-field="time">Horário</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td>João</td>
									<td>Peteca</td>
									<td>25-03-2016</td>
									<td>14:00</td>
								</tr>
								<tr>
									<td>João</td>
									<td>Orlando</td>
									<td>25-03-2016</td>
									<td>14:20</td>
								</tr>
								<tr>
									<td>Luana</td>
									<td>Thor</td>
									<td>25-03-2016</td>
									<td>14:00</td>
								</tr>
							</tbody>
						</table>
						<div class="card-action" align="right">
							<a href="calendario.html"><i class="material-icons">event</i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>





{% endblock %}s