	{% extends "main.html" %} 

	{% block content %}
	

	<style type="text/css">

		.breadcrumb {
			color: #00796b;
		}

		.breadcrumb i,
		.breadcrumb [class^="mdi-"], .breadcrumb [class*="mdi-"],
		.breadcrumb i.material-icons {
			display: inline-block;
			float: left;
			font-size: 24px;
		}

		.breadcrumb:before {

			color: #00796b;

		}

		.breadcrumb:first-child:before {
			display: none;
		}

		.breadcrumb:last-child {
			color: #00796b;
		}

	</style>


	<!-- breadcomb -->
	
	
	<div class="nav-wrapper white black-text ">
		<div class="col s12">

			<a href="main.html" class="breadcrumb">Principal</a>
			<a href="cliente.html" class="breadcrumb">Consultas</a>

		</div>
	</div>


	<!-- informativos -->

	<div class="row">
		
		<div class="col s6 m6 l6">
			<div class="card ">
				<div class="card-content">
					<span class="card-title">Card Title</span>
					<p>I am a very simple card. I am good at containing small bits of information.
						I am convenient because I require little markup to use effectively.</p>
					</div>
					<div class="card-action">
						<a href="#"><i class="material-icons">add</i></a>
					</div>
				</div>
			</div>

			<div class="col s6 m6 l6">
				<div class="card ">
					<div class="card-content">
						<span class="card-title">Card Title</span>
						<p>I am a very simple card. I am good at containing small bits of information.
							I am convenient because I require little markup to use effectively.</p>
						</div>
						<div class="card-action">
							<a href="#"><i class="material-icons">add</i></a>
						</div>
					</div>
				</div>

			</div>


			<div class="row">
				<div class="col s12 m12 l12">
					<div class="row">

						<div class="input-field col s3 m3 l3">

							<a href="cadastropaciente.html" class="waves-effect waves-light btn"><i class="material-icons left">schedule</i>Agendar</a>
						</div>

						<div class="nav-wrapper">
							<form>
								<div class="input-field col s9 m9 l9"">
									<input id="search" type="search" required>
									<label for="search"><i class="material-icons">search</i></label>
									<i class="material-icons">close</i>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<!-- LABORATORIOS -->

			<div class="row">

				<div class="col s12 m12 l12">
					<div class="card ">
						<div class="card-content">
							<span class="card-title">Próximas Consultas</span>
							<table>
								<thead>
									<tr>
										<th data-field="name">Veterinário</th>
										<th data-field="name">Paciente</th>
										<th data-field="date">Data</th>
										<th data-field="time">Horário</th>
									</tr>
								</thead>

								<tbody>
									<tr>
										<td>João</td>
										<td>Peteca</td>
										<td>25-03-2016</td>
										<td>14:00</td>
									</tr>
									<tr>
										<td>João</td>
										<td>Orlando</td>
										<td>25-03-2016</td>
										<td>14:20</td>
									</tr>
									<tr>
										<td>Luana</td>
										<td>Thor</td>
										<td>25-03-2016</td>
										<td>14:00</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>





			{% endblock %}s