{% extends "base.html" %} 

{% block content %}


<!-- informativos -->

<div class="row">

	<div class="col s6 m6 l6">
		<div class="card ">
			<div class="card-content">

				<span class="card-title">Produtos cadastrados</span>
				<table class="reponsive-table centered highlight striped">
					<thead>
						<tr>
							<th data-field="id">id</th>
							<th data-field="name">Item</th>
							<th data-field="name">Qtd</th>
							<th data-field="name">Unid</th>
							<th data-field="date">Validade</th>
						</tr>
					</thead>
				</table>
			</div>
			<div class="card-action">
				<a href="#"><i class="material-icons">add</i></a>
			</div>

			<span class="card-title">Entradas recentes</span>
			<p>Últimos Exames...</p>
		</div>
		<div class="card-action" align="right">
			<a href="#"><i class="material-icons">add</i></a>

		</div>
	</div>
</div>

<div class="col s6 m6 l6">
	<div class="card ">
		<div class="card-content">
			<span class="card-title">Produtos utilizados em exames e consultas</span>
			<table class="striped">
				<thead>
					<tr>
						<th data-field="id">id</th>
						<th data-field="name">Item</th>
						<th data-field="name">Qtd</th>
						<th data-field="name">Unid</th>
						<th data-field="date">Validade</th>
					</tr>
				</thead>
			</table>
			<div class="card-action">
				<a href="#"><i class="material-icons">add</i></a>
			</div>
		</div>

		<div class="col s6 m6 l6">
			<div class="card ">
				<div class="card-content">
					<span class="card-title">Saídas Recentes</span>
					<p>Últimos Exames...</p>
				</div>
				<div class="card-action" align="right">
					<a href="#"><i class="material-icons">add</i></a>

				</div>
			</div>
		</div>

	</div>

	<!-- Busca-->

	<div class="row">
		<div class="col s12 m12 l12">
			<div class="row">

				<div class="nav-wrapper">
					<form>
						<div class="input-field col s12 m12 l9">
							<input id="search" type="search" required>
							<label for="search"><i class="material-icons">search</i></label>
							<i class="material-icons">close</i>
						</div>

						<div class="input-field col s12 m12 l3 right-align">
							<a href="buscaestoque.html" class="waves-effect waves-light indigo accent-1 btn"><i class="material-icons left">search</i>Buscar</a>
						</div>
						<div class="input-field col s12 m12 l3 right-align">
							<a href="cadastroestoque.html" class="waves-effect waves-light indigo darken-4 btn"><i class="material-icons left">add</i>Adicionar</a>
						</div>
					</form>
				</div>			

			</div>
		</div>
	</div>


	<!-- Estoques -->

	<div class="row">

		<div class="col s6 m6 l6">
			<div class="card ">
				<div class="card-content">
					<span class="card-title">Pequenos animais</span>
					<table>
						<thead>
							<tr>
								<th data-field="id">id</th>
								<th data-field="name">Item</th>
								<th data-field="name">Qtd</th>
								<th data-field="name">Unid</th>
								<th data-field="date">Validade</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>123</td>
								<td>Paracetamol</td>
								<td>20</td>
								<td>unid</td>
								<td>23-05-2016</td>


							</tr>
							<tr>
								<td>124</td>
								<td>Dipirona</td>
								<td>20</td>
								<td>unid</td>
								<td>23-05-2016</td>

							</tr>
							<tr>
								<td>124</td>
								<td>Iodo</td>
								<td>20</td>
								<td>litro</td>
								<td>23-05-2016</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="card-action" align="right">
					<a href="#"><i class="material-icons">add</i></a>
				</div>
			</div>
		</div>

		<div class="col s6 m6 l6">
			<div class="card ">
				<div class="card-content">
					<span class="card-title">Grandes animais</span>

					<table>
						<thead>
							<tr>
								<th data-field="id">id</th>
								<th data-field="name">Item</th>
								<th data-field="name">Qtd</th>
								<th data-field="name">Unid</th>
								<th data-field="date">Validade</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>123</td>
								<td>Paroxetina</td>
								<td>2</td>
								<td>unid</td>
								<td>23-05-2016</td>

							</tr>
							<tr>
								<td>124</td>
								<td>Rivotril</td>
								<td>50</td>
								<td>unid</td>
								<td>23-05-2016</td>

							</tr>
							<tr>
								<td>124</td>
								<td>Mertiolate</td>
								<td>100</td>
								<td>litro</td>
								<td>23-05-2016</td>
							</tr>
						</tbody>
					</table>

				</div>
				<div class="card-action" align="right">
					<a href="#"><i class="material-icons">add</i></a>
				</div>

			</div>
		</div>

	</div>

	<div class="row">

		<div class="col s6 m6 l6">
			<div class="card ">
				<div class="card-content">
					<span class="card-title">Consultório 1</span>
					<table>
						<thead>
							<tr>
								<th data-field="id">id</th>
								<th data-field="name">Item</th>
								<th data-field="name">Qtd</th>
								<th data-field="name">Unid</th>
								<th data-field="date">Validade</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>123</td>
								<td>luva</td>
								<td>200</td>
								<td>unid</td>
								<td>23-05-2016</td>

							</tr>
							<tr>
								<td>124</td>
								<td>Rivotril</td>
								<td>50</td>
								<td>unid</td>
								<td>23-05-2016</td>

							</tr>
							<tr>
								<td>124</td>
								<td>Mertiolate</td>
								<td>100</td>
								<td>litro</td>
								<td>23-05-2016</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="card-action" align="right">
					<a href="#"><i class="material-icons">add</i></a>
				</div>
			</div>
		</div>

		<div class="col s6 m6 l6">
			<div class="card ">
				<div class="card-content">
					<span class="card-title">Consultório 2</span>
					<table>
						<thead>
							<tr>
								<th data-field="id">id</th>
								<th data-field="name">Item</th>
								<th data-field="name">Qtd</th>
								<th data-field="name">Unid</th>
								<th data-field="date">Validade</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>123</td>
								<td>Paroxetina</td>
								<td>2</td>
								<td>unid</td>
								<td>23-05-2016</td>

							</tr>
							<tr>
								<td>124</td>
								<td>Rivotril</td>
								<td>50</td>
								<td>unid</td>
								<td>23-05-2016</td>

							</tr>
							<tr>
								<td>124</td>
								<td>Mertiolate</td>
								<td>100</td>
								<td>litro</td>
								<td>23-05-2016</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="card-action" align="right">
					<a href="#"><i class="material-icons">add</i></a>
				</div>
			</div>
		</div>

	</div>





	{% endblock %}