{% extends "base.html" %}

{% block content %}

<div class="row">
	<form class="col s12">
		<div class="row">
			<div class="input-field col s9">
				<input id="first_name" type="text" class="validate">
				<label for="first_name">Nome</label>
			</div>
			<div class="input-field col s3">
				<input id="last_name" type="text" class="validate">
				<label for="last_name">Quantidade</label>
			</div>
		</div>

		<div class="row">
			<form class="col s12">
				<div class="row">
					<div class="input-field col s6">
						<input id="email" type="email" class="validate">
						<label for="email">Tipo</label>
					</div>
					<div class="input-field col s3">
					<div class="row">
					<form class="col s12">
						<div class="row">
							<button class="waves-effect waves-light indigo darken-4 btn" type="submit" name="action">
								Enviar<i class="material-icons right">send</i>
							</button>
						</div>
					</form>
				</div>
			</form>

			<script>
				$('input:not([placeholder])').attr('placeholder', '');
			</script>
			<script>
				$(document).ready(function() {
					$('input#input_text, textarea#textarea1').characterCounter();
					$('select').material_select();
				});
			</script>
			<script>
				$('.datepicker').pickadate({
					selectMonths : true, // Creates a dropdown to control month
					selectYears : 15, // Creates a dropdown of 15 years to control year
					format : 'dd-mm-yyyy',

				});
			</script>

			{% endblock %}

