{% extends "main.html" %}

{% block content %}

<style type="text/css">

	.breadcrumb {
		color: #00796b;
	}

	.breadcrumb i,
	.breadcrumb [class^="mdi-"], .breadcrumb [class*="mdi-"],
	.breadcrumb i.material-icons {
		display: inline-block;
		float: left;
		font-size: 24px;
	}

	.breadcrumb {
		color: rgb(140, 158, 255);
	}

	.breadcrumb:before {
		color: rgb(140, 158, 255);

	}

	.breadcrumb:last-child {
		color: rgb(140, 158, 255);
	}

</style>

<!-- breadcomb -->
<div class="nav-wrapper white black-text ">
	<div class="col s12">
		<a href="main.html" class="breadcrumb">Principal</a>
		<a href="cliente.html" class="breadcrumb">Estoque</a>
	</div>
</div>



{% endblock %}