{% extends "base.html" %} 

{% block content %}


<!-- breadcrumb -->

<div class="card">
	<div class="card-content">
		<form action="#"">

			<span class="card-title">Informações do Paciente</span>
			
			<div class="divider "></div>
			
			<div class="row col s12 m12 l12">
				<div class="input-field col s12 m6 l6">
					<select>
						<option value="" disabled selected>Selecione o cliente</option>
						<option value="1">Option 1</option>
						<option value="2">Option 2</option>
						<option value="3">Option 3</option>
					</select>
					<label>Cliente</label>
				</div>
				<div class="input-field col s12 m6 l6">
					<select>
						<option value="" disabled selected>Selecione o animal</option>
						<option value="1">Peteca</option>
						<option value="2">Florence</option>
						<option value="3">Nala</option>
					</select>
					<label>Animal</label>
				</div>
			</div>

			<span class="card-title">Informações gerais</span>
			<div class="divider "></div>
			
			<div class="row col s12 m12 l12">
				<div class="input-field col s12 m4 l4">
					<select>
						<option value="" disabled selected>Selecione o tipo de exame</option>
						<option value="1">Sangue</option>
						<option value="2">Urina</option>
						<option value="3">Fezes</option>
					</select>
					<label>Tipo de exame</label>
				</div>

				<div class="input-field col s12 m4 l4">
					<select>
						<option value="" disabled selected>Selecione o exame</option>
						<option value="1">Sangue 1</option>
						<option value="2">Sangue 2</option>
						<option value="3">Urina 1</option>
						<option value="4">Urina 2</option>
						<option value="5">Fezes 1</option>
					</select>
					<label>Especificação de exame</label>
				</div>

				<div class="input-field col s12 m4 l4">
					<select>
						<option value="" disabled selected>Selecione o laboratório</option>
						<option value="1">Lab 1</option>
						<option value="2">Lab 2</option>
						<option value="3">Lab 3</option>
					</select>
					<label>Laboratório</label>
				</div>

			</div>

			<span class="card-title">Informações de amostra</span>
			<div class="divider"></div>

			<div class="row">
				<div class="input-field col s12 m4 l4">
					<input disabled value="" id="disabled" type="text" class="validate">
					<label for="disabled">Id do rótulo</label>
				</div>

				<div class="input-field col s12 m4 l4">
					<input type="date" class="datepicker">
					<label>Data de coleta</label>
				</div>

				<div class="input-field col s12 m4 l4">
					<select>
						<option value="" disabled selected>Selecione o responsável</option>
						<option value="1">Profa. Karina</option>
						<option value="2">Prof. Antonio</option>
						<option value="3">Prof. Geraldo</option>
					</select>
					<label>Responsável pela coleta</label>
				</div>

			</div>

			<div class="row">
				<div class="input-field col s12 m12 l12 right-align">
					<div class="row">
						<button class="waves-effect waves-light indigo darken-4 btn" type="submit" name="action">Enviar<i class="material-icons right">send</i></button>
					</div>
				</div>
			</div>	
		</form>
	</div>
</div>


<script type="text/javascript">

</script>

{% endblock %}