{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt" xml:lang="pt">
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}"/>

  <title>Title of the document</title>

  <!--Import materialize.css-->

  <link type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link type="text/css" rel="stylesheet" href="{% static 'Materialize/dist/css/materialize.min.css' %}"  media="screen,projection"/>
  
  <link type="text/css" rel="stylesheet" src="{% static 'css/styles.css' %}" media="screen,projection"/>

  <style type="text/css">

    i.material-icons , i.material-icons + span {
      vertical-align: middle;
    }

    i.material-icons{
      color: #212121;
    }

    header, main, footer {
      padding-left: 130px;
      padding-right: 10px;
    }

    header, footer {
      padding-right: 0px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }

    .navbar-material .nav-wrapper .brand-logo img {
      height: 64px;
    }

  </style>



</head>
<body>

  <header>
    <nav class="nav-wrapper hide-on-large-only white">

      <div class="container">

        <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a>

      </div>

    </nav>

    <ul id="nav-mobile" class="side-nav fixed">
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">

          <li class="logo"><a a class="collapsible-header" href="main.html"><div class="container">
            <img class="responsive-img" src="{% static 'logo.png' %}"></div></a></li>

            <li class="bold"><a href="cliente.html" class="collapsible-header"><i class="material-icons">face</i>Cliente</a></li>
            <li class="bold"><a href="paciente.html" class="collapsible-header"><i class="material-icons">pets</i>Paciente</a></li>
            <li class="bold"><a href="exames.html" class="collapsible-header"><i class="material-icons">local_pharmacy</i>Exames</a></li>
            <li class="bold"><a href="consultas.html" class="collapsible-header"><i class="material-icons">healing</i>Consultas</a></li>
            <li class="bold"><a href="estoque.html" class="collapsible-header"><i class="material-icons">archive</i>Estoque</a></li>
            <li class="bold"><a href="pagamentos.html" class="collapsible-header"><i class="material-icons">attach_money</i>Pagamentos</a></li>
          </ul>
        </li>     
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

    </header>
    
    <main>

      <div class="col s12 m12 l12">
        <main>

          <div class="card">
            <div class="card-content">
              {% block content %}

              {% endblock %}

            </div>
          </div>

        </div>


      </main>

      <footer>

      </footer>

    </body>



    <!--Import jQuery before materialize.js-->

    <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'Materialize/dist/js/materialize.min.js' %}"></script>

    <script>
      $(document).ready(function(){
        $(".button-collapse").sideNav();
        $('.collapsible').collapsible({
          accordion : true
        });
      });
    </script>

  </body>
  </html>