{% load staticfiles %}

<html>
	<head>

		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="{% static 'materialize/bin/materialize.css' %}"  media="screen,projection"/>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	</head>

	<body>

		<nav>
			<div class="nav-wrapper teal darken-2">
				<a href="#!" class="right brand-logo">CtrlVet</a>
				<ul class="left hide-on-med-and-down"></ul>
			</div>
		</nav>

	<body class="grey lighten-5">

		<div class="row">

			<div class="col s3 m3 l3">

				<ul class="collapsible" data-collapsible="accordion">
					<li>
						<div class="collapsible-header">
							<i class="material-icons">face</i>Cliente
						</div>
						<div class="collapsible-body">
							<div class="collection">
								<a href="#!" class="collection-item">Cadastro</a>
								<a href="#!" class="collection-item">Consulta</a>
							</div>
						</div>
					</li>
					<li>
						<div class="collapsible-header">
							<i class="material-icons">pets</i>Paciente
						</div>
						<div class="collapsible-body">
							<div class="collection">
								<a href="#!" class="collection-item">Cadastro</a>
								<a href="#!" class="collection-item">Consulta</a>
							</div>
						</div>
					</li>
					<li>
						<div class="collapsible-header">
							<i class="material-icons">schedule</i>Agenda de Consultas
						</div>
						<div class="collapsible-body">
							<div class="collection">
								<a href="#!" class="collection-item">Cadastro</a>
								<a href="#!" class="collection-item">Consulta</a>
							</div>
						</div>
					</li>
					<li>
						<div class="collapsible-header">
							<i class="material-icons">schedule</i>Agenda de Exames
						</div>
						<div class="collapsible-body">
							<div class="collection">
								<a href="#!" class="collection-item">Cadastro</a>
								<a href="#!" class="collection-item">Consulta</a>
							</div>
						</div>
					</li>
					<li>
						<div class="collapsible-header"></div>
						<div class="collapsible-body">
							<div class="collection">
								<a href="#!" class="collection-item">Cadastro</a>
								<a href="#!" class="collection-item">Consulta</a>
							</div>
						</div>
					</li>
				</ul>

			</div>

			<div class="col s9 m9 l9">
				<main>
					
						<div class="card">
							<div class="card-content">
								{% block content %}

								{% endblock %}

							</div>
						</div>
					
			</div>
		</div>
		</main>

		{% block footer %}
		<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
		<script type="text/javascript" src="{% static 'materialize/bin/materialize.js' %}"></script>
		{% endblock %}

	</body>

	<script>
		$(document).ready(function() {
			$('.collapsible').collapsible({
				accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
			});
		});

		$('.dropdown-button').dropdown({
			inDuration : 300,
			outDuration : 225,
			constrain_width : true, // Does not change width of dropdown to that of the activator
			hover : true, // Activate on hover
			gutter : 0, // Spacing from edge
			belowOrigin : false, // Displays dropdown below the button
			alignment : 'left' // Displays dropdown with edge aligned to the left of button
		});

		$(document).ready(function() {
			$('input#input_text, textarea#textarea1').characterCounter();
		});

	</script>

</html>