{% extends "base.html" %}

{% block content %}


<!-- informativos -->

<div class="row">

	<div class="col s12 m12 l4">
		<div class='card-panel'>
			<a href=""><i class="material-icons">check</i><b>R$ 1800,00 </b>em débitos</a>
			<a href=""><i class="material-icons right">more_vert</i></a>
		</div>
	</div>

	<div class="col s12 m12 l4">
		<div class='card-panel'>
			<a href=""><i class="material-icons">trending_up</i><b>R$ 340,00 </b>creditados</a>
			<a href=""><i class="material-icons right">more_vert</i></a>
		</div>
	</div>

	<div class="col s12 m12 l4">
		<div class='card-panel'>
			<a href=""><i class="material-icons">check</i><b>R$ 120,00 </b>em isenções</a>
			<a href=""><i class="material-icons right">more_vert</i></a>
		</div>
	</div>

</div>




<div class="card">
	<div class="card-content">

		<!-- Busca -->
		
		<div class="row">
			<div class="nav-wrapper">
				<form>
					<div class="input-field col s12 m12 l6">
						<input id="search" type="search" required>
						<label for="search"><i class="material-icons">search</i></label>
						<i class="material-icons">close</i>
					</div>

					<script>

						document.addEventListener("DOMContentLoaded", function() {
						}, false);

						document.getElementById("search").addEventListener("keyup", function() {
							window.location="pagamentosbusca.html";
						}, false);
					</script>

					<div class="input-field col s16 m16 l3 right-align">
						<a href="pagamentoscadastro.html" class="waves-effect waves-light indigo darken-4 btn"><i class="material-icons left">add</i>Adicionar</a>
					</div>
				</form>
			</div>
		</div>

		<!-- Conteúdo -->

		<div class="row">
			<div class="col s12 m12 l12">
				<span class="card-title">Pagamentos pendentes</span>
				<div class="divider"></div>
				<div class="row">
					<div class="col s12 m12 l12">
						<table class="reponsive-table centered highlight striped">
							<thead>
								<tr>
									<th>cliente</th>
									<th>paciente</th>
									<th>valor(R$)</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="clientedetalhe.html">Luana</a></td>
									<td><a href="pacientedetalhe.html"><b>Florence</td></b></a></td>
									<td><a href="pagamentodetalhepessoa.html">120,00</a></td>
								</tr>

								<tr>
									<td><a href="clientedetalhe.html">Simone</a></td>
									<td><a href="pacientedetalhe.html"><b>Peteca</td></b></a></td>
									<td><a href="pagamentodetalhepessoa.html">120,00</a></td>
								</tr>

								<tr>
									<td><a href="clientedetalhe.html">Alan</a></td>
									<td><a href="pacientedetalhe.html"><b>Peteca</td></b></a></td>
									<td><a href="pagamentodetalhepessoa.html">120,00</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<span class="card-title">Pagamentos realizados</span>
				<div class="divider"></div>
				<div class="row">
					<div class="col s12 m12 l12">
						<table class="reponsive-table centered highlight striped">
							<thead>
								<tr>
									<th>cliente</th>
									<th>paciente</th>
									<th>valor(R$)</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="clientedetalhe.html">Luana</a></td>
									<td><a href="pacientedetalhe.html"><b>Florence</td></b></a></td>
									<td>120,00</td>
								</tr>

								<tr>
									<td><a href="clientedetalhe.html">Simone</a></td>
									<td><a href="pacientedetalhe.html"><b>Peteca</td></b></a></td>
									<td>120,00</td>
								</tr>

								<tr>
									<td><a href="clientedetalhe.html">Alan</a></td>
									<td><a href="pacientedetalhe.html"><b>Peteca</td></b></a></td>
									<td>120,00</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				




				<div class="row">
					<div class="col s12 m12 l12 center">
						<div class="row">
							<ul class="pagination">
								<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
								<li class="waves-effect"><a href="#!">1</a></li>
								<li class="waves-effect"><a href="#!">2</a></li>
								<li class="waves-effect"><a href="#!">3</a></li>
								<li class="waves-effect"><a href="#!">4</a></li>
								<li class="waves-effect"><a href="#!">5</a></li>
								<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
							</div>
						</div>
					</div>



					{% endblock %}

