{% extends "base.html" %}

{% block content %}
	<!-- informativos -->
	
			<div class="col s12 m12 l12">
				<div class="card ">
					<div class="card-content">
						<span class="card-title">Realizados</span>
						<table>
							<thead>
								<tr>
									<th data-field="id">idPagamento</th>
									<th data-field="name">Cliente</th>
									<th data-field="name">Paciente</th>
									<th data-field="name">Status</th>
									<th data-field="name">Tipo Pagamento</th>
									<th data-field="double">Valor</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>123</td>
									<td><a href="">Alan</a></td>
									<td>Pirulito</td>
									<td>Pago</td>
									<td>Dinheiro</td>
									<td>100,00</td>
									
								</tr>
								<tr>
									<td>124</td>
									<td><a href="">Alvin</a></td>
									<td>Peteca</td>
									<td>Pendente</td>
									<td>Não Pago</td>
									<td>1000,00</td>
								</tr>
								<tr>
									<td></td>	
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td>Pagos</td>
									<td></td>
									<td>100,00</td>	
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td>Pendentes</td>
									<td></td>
									<td>1000,00</td>	
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td>Total</td>
									<td></td>
									<td>1100,00</td>	
								</tr>		
						</table>
						<div class="card-action">
							<a href="#"><i class="material-icons">add</i></a>
						</div>
					</div>
				</div>
			</div>
			
{% endblock %}
