{% extends "main.html" %} 

{% block content %}


<style type="text/css">

  .breadcrumb {
    color: #00796b;
  }

  .breadcrumb {
    color: rgb(140, 158, 255);
  }

  .breadcrumb:before {
    color: rgb(140, 158, 255);

  }

  .breadcrumb:last-child {
    color: rgb(140, 158, 255);
  }

</style>


<!-- breadcrumb -->

<div class="nav-wrapper white black-text ">
  <div class="col s12">
    <a href="main.html" class="breadcrumb">Principal</a>
    <a href="cliente.html" class="breadcrumb">Cliente</a>
    <a href="cliente.html" class="breadcrumb">Busca</a>
  </div>
</div>

<div class="row">
  <div class="nav-wrapper">
    <form>
      <div class="input-field col s12 m12 l6">
        <input id="search" type="search" required>
        <label for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>

      <div class="input-field col s12 m12 l3 right-align">
        <a href="resultadobuscacliente.html" class="waves-effect waves-light indigo accent-1 btn"><i class="material-icons left">search</i>Buscar</a>
      </div>

      <div class="input-field col s12 m12 l3 right-align">
        <a href="cadastrocliente.html" class="waves-effect waves-light indigo accent-1 btn"><i class="material-icons left">add</i>Adicionar</a>
      </div>
    </form>
  </div>
</div>


<table class="reponsive-table centered highlight striped">
  <thead>
    <tr>
      <th data-field="">CPF</th>
      <th data-field="">Nome</th>
      <th data-field="">Telefone</th>
      <th data-field="">Excluir</th>
      <th data-field="">Alterar</th>

    </tr>
  </thead>

  <tbody>
    <tr>
      <td><a href="">Alvin</a></td>
      <td>Eclair</td>
      <td>(28)9999-9999</td>
      <td><a><i class="material-icons">delete</i></a></td>
      <td><a><i class="material-icons">mode_edit</i></a></td>
    </tr>
    <tr>
      <td><a href="">Alan</a></td>
      <td>Jellybean</td>
      <td>(28)9999-9999</td>
      <td><a><i class="material-icons">delete</i></a></td>
      <td><a><i class="material-icons">mode_edit</i></a></td>
    </tr>
    <tr>
      <td><a href="">Jonathan</a></td>
      <td>Lollipop</td>
      <td>(28)9999-9999</td>
      <td><a><i class="material-icons">delete</i></a></td>
      <td><a><i class="material-icons">mode_edit</i></a></td>
    </tr>
  </tbody>
</table>

{% endblock %}