{% extends 'base.html' %}

{% block title %}Secretário{% endblock %}

{% block content %}

<div class="row">
	<div class="col s3 m3 l3">
		<a class="tooltipped" data-delay="Cadastrar um novo animal" data-tooltip="Cadastrar um novo animal" data-position="bottom" href="{% url 'animal_cadastro' %}">
			<div class="card  indigo darken-4 white-text">
				<div class="card-content">

					<div class="row">
						<div class="col s8 m8 l8">
							<span class="card-title">Cadastrar Animal</span>
						</div>
						<div class="col s4 m4 l4 right-align">
							
						</div>
					</div>

				</div>

			</div>
		</a>
	</div>

	<div class="col s3 m3 l3">
		<a class="tooltipped" data-delay="Cadastrar um novo tutor" data-tooltip="Cadastrar um novo tutor" data-position="bottom" href="{% url 'animal_cadastro' %}">
			<div class="card  indigo darken-4 white-text">
				<div class="card-content">

					<div class="row">
						<div class="col s8 m8 l8">
							<span class="card-title">Cadastrar Cliente</span>
						</div>
						<div class="col s4 m4 l4 right-align">
							
						</div>
					</div>

				</div>

			</div>
		</a>
	</div>

	<div class="col s3 m3 l3">
		<a class="tooltipped" data-delay="Agendar uma nova consulta" data-tooltip="Agendar uma nova consulta" data-position="bottom" href="{% url 'consulta_cadastro' %}">
			<div class="card  indigo darken-4 white-text">
				<div class="card-content">

					<div class="row">
						<div class="col s8 m8 l8">
							<span class="card-title">Agendar Consulta</span>
						</div>
						<div class="col s4 m4 l4 right-align">
							
						</div>
					</div>

				</div>

			</div>
		</a>
	</div>
		<div class="col s3 m3 l3">
		<a class="tooltipped" data-delay="Agendar um novo exame" data-tooltip="Agendar um novo exame" data-position="bottom" href="#">
			<div class="card  indigo darken-4 white-text">
				<div class="card-content">

					<div class="row">
						<div class="col s8 m8 l8">
							<span class="card-title">Agendar Exame</span>
						</div>
						<div class="col s4 m4 l4 right-align">
							
						</div>
					</div>

				</div>

			</div>
		</a>
	</div>
</div>

<div class="row">
	<div class="col s12 m12 l12">
		<div class="card  ">
			<div class="card-content">
				<table>
					<thead>
						<tr>
							<th>Tutor</th>
							<th>Animal</th>
							<th>Status consulta</th>
							<th>Valor consulta</th>
							<th>Status pagamento</th>
							<th>Pagar</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>Alvin</td>
							<td>Eclair</td>
							<td>Realizado</td>
							<td>$0.87</td>
							<td>Nota</td>
							<td>Realizar pagamento</td>
						</tr>
						<tr>
							<td>Alvin</td>
							<td>Eclair</td>
							<td>Realizado</td>
							<td>$0.87</td>
							<td>Nota</td>
							<td>Realizar pagamento</td>
						</tr>
						<tr>
							<td>Alvin</td>
							<td>Eclair</td>
							<td>Pendente</td>
							<td>$0.87</td>
							<td>Pendente</td>
							<td>Realizar pagamento</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


{% endblock %}
