{% extends 'base.html' %}

{% block title %}Cadastrar{% endblock %}

{% block content %}
<div class="row">
	<div class="col s12 m12 l6 offset-l3">
		<div class="card">
			<div class="card-content">
				<span class="card-title">Cadastrar</span>
				<div class="divider"></div>
				<div class="card-content">

					<form method="post">
						{% csrf_token %}
						{{ form.as_p }}
						<div class="form-actions right-align">
							<button class="btn waves-effect waves-light indigo darken-4" name="reset" value="reset"><i class="material-icons right">clear</i>Limpar</button>
							<button class="btn waves-effect waves-light indigo darken-4" type="submit" value="Update">Cadastrar<i class="material-icons right">send</i></button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
