{% extends 'base.html' %}

{% block title %}Técnico{% endblock %}


{% block content %}

<div class="row">
	<div class="col s4 m4 l4">
		<a class="tooltipped" data-delay=" " data-tooltip="Visualizar os seus ultimos exames concluídos" data-position="bottom" href=" ">
			<div class="card  indigo darken-4 white-text">
				<div class="card-content">

					<div class="row">
						<div class="col s8 m8 l8">
							<span class="card-title">Ultimos Exames</span>
						</div>
						<div class="col s4 m4 l4 right-align">
							 
						</div>
					</div>

				</div>

			</div>
		</a>
	</div>
</div>

<div class="row">
	<div class="col s12 m12 l12">
		<ul class="collection">
			<li class="collection-item avatar">
				<i class="material-icons circle"></i>				
				<span class="title">Dada de entrada</span>
				<p>Dias desde a inclusão<br>
					<p>Nome do animal<br>
						Tutor
					</p>
					<a href="#!" class="secondary-content"><i class="material-icons">arrow forward</i></a>
				</li>
				<li class="collection-item avatar">
					<i class="material-icons circle"></i>				
					<span class="title">Dada de entrada</span>
					<p>Dias desde a inclusão<br>
						<p>Nome do animal<br>
							Tutor
						</p>
						<a href="#!" class="secondary-content"><i class="material-icons">arrow forward</i></a>
					</li>			<li class="collection-item avatar">
					<i class="material-icons circle"></i>				
					<span class="title">Dada de entrada</span>
					<p>Dias desde a inclusão<br>
						<p>Nome do animal<br>
							Tutor
						</p>
						<a href="#!" class="secondary-content"><i class="material-icons">arrow forward</i></a>
					</li>			<li class="collection-item avatar">
					<i class="material-icons circle"></i>				
					<span class="title">Dada de entrada</span>
					<p>Dias desde a inclusão<br>
						<p>Nome do animal<br>
							Tutor
						</p>
						<a href="#!" class="secondary-content"><i class="material-icons">arrow forward</i></a>
					</li>			<li class="collection-item avatar">
					<i class="material-icons circle"></i>				
					<span class="title">Dada de entrada</span>
					<p>Dias desde a inclusão<br>
						<p>Nome do animal<br>
							Tutor
						</p>
						<a href="#!" class="secondary-content"><i class="material-icons">arrow forward</i></a>
					</li>
				</li>
			</ul>
		</div>
	</div>




	{% endblock %}