{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt" xml:lang="pt">
<head>
  <meta charset="UTF-8">

  <title>Title of the document</title>

  <link rel="shortcut icon" type="image/png" href="{% static '/media/favicon/favicon.ico' %}"/>

  <!--Import materialize.css-->

  <link type="text/css" rel="stylesheet" href="{% static 'Materialize/dist/css/materialize.css' %}"  media="screen,projection"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



</head>
<body>



  <ul id="slide-out" class="side-nav fixed">


   <li><a href="/cliente.html" class="collection-item"><i class="material-icons">face</i>Cliente</a></li>


   <li><a href="/paciente.html" class="collection-item">Paciente</a></li>
   <i class="material-icons">pets</i>

   <li> <a href="/exame.html" class="collection-item">Exames</a></li>
   <i class="material-icons">local_pharmacy</i>

   <li><a href="/consulta.html" class="collection-item">Consultas</a></li>            
   <i class="material-icons">healing</i>

   <li><a href="/estoque.html" class="collection-item">Estoque</a></li>            
   <i class="material-icons">archive</i>

   <li><a href="/pagamentos.html" class="collection-item">Pagamentos</a></li>           
   <i class="material-icons">attach_money</i>
 </ul>
 <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>



</body>



<!--Import jQuery before materialize.js-->


<script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'Materialize/dist/js/materialize.min.js' %}"></script>


</body>
</html>