{% extends "financeiro/pagamento_resumo.html" %}


{% block breadcrumbs %}
{{ block.super }}
<a href="" class="breadcrumb">Prestação de Contas {{ object.ano }}</a>
{% endblock %}

{% block content %}

<div class="row">

		<div class="card-content">

			{% block estatisticas %}
			
			{% endblock %}

			{% block lista %}


			<div class="row">
				<div class="col s12 m12 l12">
					<div class="card ">
						<div class="card-content">
							<div class="row">
							<span class="card-title"><a href="#">Prestação de Contas {{ object.ano }} (Jan - Dez)</a></span>
								<a href="{% url 'gerarPdf' object.ano %}" class="btn waves-effect waves-light indigo darken-4 "><i class="material-icons left">add</i>gerarPdf</a>
							</div>
							{% if object.debitos.all %}

							<table class="reponsive-table highlight">
								<thead>
									<th data-field="">Setor</th>
									<th data-field="">Valor Arrecadado (R$)</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td>Clínica de Pequenos</td>
									<td>{{ pequenos }}</td>
								</tr>
								<tr>
									<td>Clínica de Grandes</td>
									<td>{{ grandes }}</td>
								</tr>
								<tr>
									<td>Clínica Cirúrgica</td>
									<td>{{ cirurgica }}</td>
								</tr>
								<tr>
									<td>Patologia Clínica</td>
									<td>{{ clinica }}</td>
								</tr>
								<tr>
									<td>Diagnóstico por Imagem</td>
									<td>{{ imagem }}</td>
								</tr>
								<tr>
									<td>Parasitologia</td>
									<td>{{ parasitologia }}</td>
								</tr>
								<tr>
									<td>Microbiologia</td>
									<td>{{ microbiologia }}</td>
								</tr>
								<tr>
									<td>Patologia Animal</td>
									<td>{{ animal }}</td>
								</tr>
						
							<thead>
								<th data-field=""></th>
								<th data-field=""></th>
							</tr>
							</thead>
							<tr>
								<td><b>Valor Total Arrecadado (R$)</b></td>
								<td><b> {{ valor_total }} </b></td>
							</tr>
								</tbody>
							</table>
							{% else %}
							<p>Nenhum relatório encontrado</p>
							{% endif %}

						</div>
					</div>
				</div>

				{% endblock lista %}



			</div>
		</div>
	</div>


	{% endblock %}
