{% extends "financeiro/pagamento_resumo.html" %}


{% block breadcrumbs %}
{{ block.super }}
<a href="{% url 'debito_prestacaocontas' %}" class="breadcrumb">Prestação de Contas</a>
{% endblock %}

{% block content %}

<div class="row">
	<div class="card">
		<div class="card-content">

			{% block estatisticas %}
			
			{% endblock %}

			{% block lista %}


			<div class="row">
				<div class="col s12 m12 l12">
					<div class="card ">
						<div class="card-content">
							<span class="card-title"><a href="{% url 'debito_prestacaocontas'%}">Relatórios</a></span>

							{% if object_list %}

							<table class="reponsive-table centered highlight">
								<thead>
									<tr>
										<th>Ano</th>
									</tr>
								</thead>
								<tbody>

									{% for object in object_list %}
									<tr>
										<td>
											<a href=""><b>{{ object.ano }}</b></a>
										</td>
									</tr>

									{% endfor %}
								</tbody>
							</table>

							{% else %}
							<p>Nenhum relatório encontrado</p>
							{% endif %}

						</div>
					</div>
				</div>

				{% endblock lista %}



			</div>
		</div>
	</div>


	{% endblock %}
