

<div class="row">
	<div class="col s12 m12 l12">
		
		<div class="card ">
			<div class="card-content">
				<span class="card-title"><a href="{% url 'financeiro_debitos'%}">A Receber</a></span>

				{% if debitos_list %}

				<table class="reponsive-table centered highlight">
					<thead>
						<tr>
							<th>Id</th>
							<th>Data de Atendimento</th>
							<th>Setor</th>
							<th>Cliente</th>
							<th>Valor(R$)</th>
							<th></th>
						</tr>
					</thead>
					<tbody>


						{% for nota in debitos_list %}
						<tr>
							<td><b>{{ nota.pk }}</b></td>
							<td>{{ nota.data }}</td>
							<td>{{ nota.get_setor_display }}</td>
							<td><a href="{% url 'tutor_detalhes' nota.atendimento.cliente.pk %}">{{ nota.atendimento.cliente.nome }}</a></td>
							<td>{{ nota.total }}</td>
							<td></td>
							<td><a href="#"></a></td>
							<td><a class="modal-trigger" href="#reliza_pagamento{{ nota.pk }}">Efetuar Pagamento</a></td>
						</tr>

						<!-- Modal Trigger -->

						<!-- Modal Structure -->
						<div id="reliza_pagamento{{ nota.pk }}" class="modal">
							<div class="modal-content">
								<h4>Confirmar pagamento</h4>
								<div class="row">
									<div class="col s12 m6 l6">
										<p>Nota: {{ nota.pk }} </p>
										<p>Total: {{ nota.total }}</p>
									</div>
									<div class="col s12 m6 l6">
										<p>Data: {{ nota.data }}</p>
									</div>
									
									
									
								</div>
							</div>
							<div class="modal-footer">
								<a href="{% url 'efetuar_pagamento' nota.pk %}" class="modal-action modal-close btn waves-effect waves-light indigo darken-4">Confirmar</a>
							</div>
						</div>


						{% endfor %}
					</tbody>
				</table>

				{% else %}
				<p>Nenhum pagamento <i>a receber</i> encontrado</p>
				{% endif %}

			</div>
		</div>

	</div>

	<div class="row">
		<div class="col s12 m12 l12">
			<div class="card ">
				<div class="card-content">
					<span class="card-title"><a href="{% url 'financeiro_recebidos' %}">Últimos Recebidos</a></span>

					{% if recebidos_list %}

					<table class="reponsive-table centered highlight">
						<thead>
							<tr>
								<th>Id</th>
								<th>Data de Atendimento</th>
								<th>Setor</th>
								<th>Cliente</th>
								<th>Valor(R$)</th>
								<th></th>
							</tr>
						</thead>
						<tbody>

							{% for nota in recebidos_list %}
							<tr>
								<td><b>{{ nota.pk }}</b></td>
								<td>{{ nota.data }}</td>
								<td>{{ nota.get_setor_display }}</td>
								<td><a href="{% url 'tutor_detalhes' nota.atendimento.cliente.pk %}">{{ nota.atendimento.cliente.nome }}</a></td>
								<td>{{ nota.total }}</td>
								<td></td>
								<td><a href="{% url 'nota_de_pagamento'  nota.pk %}">Nota de Pagamento</a></td>
							</tr>

							{% endfor %}
						</tbody>
					</table>

					{% else %}
					<p>Nenhum pagamento <i>recebido</i> encontrado</p>
					{% endif %}

				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Trigger -->


