<!-- Comente daqui pra baixo 
<div class="row">
	<div class="nav-wrapper">
		<div class="input-field col s12 m12 l12 right-align">
			<a href="{% url 'ano_list' %}" class="btn waves-effect waves-light indigo darken-4"><i class="material-icons right">assignment</i>Relatórios</a>
		</div>
	</div>
</div>

-->

<div class="row">
	<div class="col s3 m3 l3">
		<a class="tooltipped" data-delay="50" data-tooltip="arquivo origiem financeiro_listagem.html" data-position="bottom" href="{% url 'ano_list' %}">
			<div class="card  indigo darken-4 white-text">
				<div class="card-content">

					<div class="row">
						<div class="col s6 m6 l6">
							<span class="card-title">Relatórios</span>
						</div>
						<div class="col s6 m6 l6 right-align">
							<span class="card-title"><i class="material-icons">event</i></span>
						</div>
					</div>

				</div>

			</div>
		</a>
	</div>
</div>
